[2018-06-25 18:43] dstrebel opened #6 "Add Terraform Deployment Of AKS"
Use Terraform to deploy AKS, as this is a common and recommend scenario.

[2018-06-25 18:44] dstrebel opened #7 "Remove references to Chef"
Chef has no use in this lab and should be removed.

[2018-06-26 23:54] bspann opened #8 "Setup markdown"
In the Setup.md file, task 8 step 2 talks about the settings to create Azure Container Registry.  The instructions say to Enable Admin user but the screen capture shows Disable.

[2018-06-26 23:56] bspann opened #9 "Setup markdown - AKS"
In the setup.md file, Task 10 talks about setting up ALS but the instructions and screen captures are outdated.  New instructions should be added with updated screen captures.

[2018-06-27 00:00] bspann opened #10 "Setup markdown - Azure CLI"
In the setup.md file, Task 11 has outdated instructions to download the Azure-CLI.  Following the link provided works to download and install the Azure-CLI for Linux.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2018-06-27 00:03] bspann opened #11 "HOL step-by-step"
Task 4 step 6 has an extra "-" before the t argument.
Task 6 step 12 has a free-floating "c" before content-web.  This will cause problems if not removed.
Task 7 step 4 has an extra "-" in front of both u & p in the sample bash command.

[2018-06-27 00:07] jamesrcounts commented on #9
Hi there, I think you may be on the master branch, I just tested the steps on the June-2018-update branch and the screenshots there match what I just saw in the portal.

[2018-06-27 00:10] jamesrcounts commented on #11
Hello, these issues appear to be resolved in the June-2018-update branch

[2018-06-27 16:15] michelebusta commented on #7
is this coming from master branch? I don't see any references to chef in the update branch.

[2018-06-27 16:17] michelebusta commented on #6
agree re: terraform being a common tool, was not in scope for the rewrite but perhaps in future they'll add that to this lab

[2018-06-27 16:23] jamesrcounts commented on #10
Hi there, I double checked the instructions in the June-2018-update branch and they appear to be updated and match the instructions from the link you referenced.

[2018-06-29 17:14] dzaremba90 opened #12 "Update readme"
The readme doc is missing the bulleted portion for the HOL and WDS abstracts. Please update to the following:

HOL
This hands-on lab is designed to guide you through the process of building and deploying Docker images to the Kubernetes platform hosted on Azure Container Services (AKS) in addition to learning how to work with dynamic service discovery, service scale-out and HA. The goal of the lab

[2018-06-29 17:15] dzaremba90 opened #13 "Missing ALT tag PPT"
This image is missing the alt text in the ppt slide.

![image](https://user-images.githubusercontent.com/40214167/42105484-54f02fc8-7b85-11e8-88de-cb9f89deefef.png)

[2018-06-29 17:33] waltermyersiii commented on #6
Marking as future enhancement.

[2018-06-29 17:53] dzaremba90 opened #14 "Missing ALT Text - HOL Step-by-Step and Student/Trainer WDS"
Alt text is not appearing on the images in the HOL Step-by-Step & WDS Trainer/Student Guide.

[2018-06-29 20:45] DawnmarieDesJardins commented on #7
Closing, update branch is correct

[2018-06-29 20:45] #7 closed

[2018-06-29 20:46] DawnmarieDesJardins commented on #9
Closing. correct on June-2018-update branch.

[2018-06-29 20:46] #9 closed

[2018-06-29 20:46] DawnmarieDesJardins commented on #10
Closing, correct in June 2018 branch

[2018-06-29 20:46] #10 closed

[2018-06-29 20:47] DawnmarieDesJardins commented on #11
Closing, correct in June 2018 update branch

[2018-06-29 20:47] #11 closed

[2018-06-29 20:48] DawnmarieDesJardins opened #15 "Update folder names"
HOL to Hands on Lab
WDS to Whiteboard design session
Update header images
Create updated HTML files once folders are correctly named

[2018-06-29 21:23] DawnmarieDesJardins opened #16 "Missing answer - WDS trainer guide"
Missing answer (Line 592)
*Automating DevOps workflows*

1. Describe how VSTS can help the customer automate their continuous integration and deployment workflows and the Azure Kubernetes Service (AKS) infrastructure.

TODO:new content coming

[2018-06-29 22:20] DawnmarieDesJardins opened #17 "Before the lab doc"
Line 596 forward
There's a grey box around the steps and the images aren't showing.  Not sure what code is causing that.

[2018-06-29 22:26] DawnmarieDesJardins opened #18 "Hands-on-lab - unguided"
Workshop does not follow template

Example:
Exercise 1: Azure data, storage, and serverless environment setup
Help references
Task 1: Provision the storage account
   Tasks to complete
   Exit criteria
Task 2: Provision the Function Apps
   Tasks to complete
   Exit criteria

[2018-06-29 23:33] DawnmarieDesJardins commented on #18
Not addressing at this time.

[2018-06-29 23:33] #18 closed

[2018-06-30 00:21] michelebusta commented on #16
updated!

[2018-06-30 00:21] #16 closed

[2018-06-30 01:37] DawnmarieDesJardins commented on #15
I figured out how to update the headers!  :)

[2018-07-01 05:06] michelebusta commented on #12
Please confirm if this is still an issue, I believe the discussion we had indicates we are no longer doing "bullets". Let me know :)

[2018-07-01 05:37] michelebusta commented on #17
all fixed

[2018-07-01 05:49] DawnmarieDesJardins commented on #12
Closing issue as we are moving away from bulleted abstracts.

[2018-07-01 05:49] #12 closed

[2018-07-01 06:06] DawnmarieDesJardins commented on #17
Thanks Michele - that looks much better.
Couple of questions though -
Line 568 says: curl -L -o FabMedical.tgz <TODO ADD BITLY LINK>  Is this a TODO that got missed, or is it really supposed to be TODO....?
Line 688 says: git clone <REPOSITORY_URL> - are we missing a URL?

[2018-07-01 06:06] DawnmarieDesJardins commented on #14
Also missing alt-text on the Before the lab document

[2018-07-01 14:04] jamesrcounts commented on #17
Line 688 is correct as is, it's a variable where the student should paste the URL that copied by following the instructions on line 683.

Line 568 is a genuine TODO.  We need a bitly link (or similar) for the starter files which redirects to the starter files hosted in this repository: https://github.com/Microsoft/MCW-Containers-and-DevOps/raw/master/HOL/FabMedical.tar.gz

[2018-07-03 08:05] michelebusta commented on #14
alt text all fixed

[2018-07-03 08:05] #14 closed

[2018-07-03 08:05] michelebusta commented on #13
alt text all fixed

[2018-07-03 08:05] #13 closed

[2018-07-03 17:07] DawnmarieDesJardins opened #20 "Verify links in HOLs"
Folder and document names have been updated. Please check your HOL documents for links that use folder names in their path and make sure they are still valid and working.

[2018-07-03 19:42] michelebusta commented on #17
bit.ly updated

[2018-07-03 19:42] #17 closed

[2018-07-03 21:16] DawnmarieDesJardins commented on #15
Closing this issue out.  All files have been renamed - I'll send an email with a list of workshops that need HTML when they're ready.

[2018-07-03 21:16] #15 closed

[2018-07-03 21:28] DawnmarieDesJardins commented on #20
Reviewed lab documents - none of the hyperlinks point to GitHub workshop files, closing issue.

[2018-07-03 21:28] #20 closed

[2018-07-09 13:17] PraveenAnil opened #21 "Issue with Running Application in content-web folder"
I am getting a syntax error with error message:

[Screenshot 1](https://github.com/PraveenAnil/images/raw/master/issue1.png)
[Screenshot 2](https://github.com/PraveenAnil/images/raw/master/issue2.png)
 when executing "nodejs ./server.js &" command given  in Exercise 1-> Task 1 -> Step 13

[2018-07-11 17:11] rbmathis commented on #21
The fix for this is to comment the line 11 in /data-access/index.js (where contentApiUrl is declared as
`const contentApiUrl = "http://localhost:3001";`
additional info: The file probably needs a bit of cleanup, the var contentApiUrl is declared 4 times, and 2 of them are already commented, leaving 2 delcarations of the same var which causes the parser to barf.

[2018-07-11 19:39] rbmathis opened #22 "Image tags don't match in Task 7.5 and 7.7"
Either add the path "fabmedical" to 7.5, or remove from 7.7

[2018-07-11 20:23] rbmathis opened #23 "Exercise 7, step 26 - Dockerfile hasn't been pushed to repo yet"
Creation / execution of the api build will fail with error "Dockerfile not found" because we haven't yet committed/pushed code back to VSTS.

[2018-07-11 22:01] bspann opened #24 "Exercise 2, Task 4 - step 2 Missing content-init image from ACR"
The init.job.yml is referencing an image from ACR that was not initially pushed.  To fix this, Exercise 1, Task 7 - step 5 needs the following line added:

docker tag content-init [LOGINSERVER]/content-init

Task 7 - step 7 needs the following line added:

docker push [LOGINSERVER]/content-init

step 10 needs the following line added (optional):
docker tag [LOGINSERVER]/content-init:latest [LOGINS

[2018-07-12 00:13] #21 closed

[2018-07-12 00:14] jamesrcounts commented on #21
I updated the tarball with the starter files, we will need to update the bitly to close the loop.

[2018-07-12 00:17] #22 closed

[2018-07-12 00:30] jamesrcounts commented on #24
The content init image should have been created by VSTS after setting up the content-init build in Ex 1, Task 7, Step 27.

[2018-07-12 16:19] bspann opened #25 "Exercise 2, Task 4 - Screenshot is correct but the instructions are wrong"
Exercise 2 - Task 4 - step 25 is missing the appSettings method call.  The code needs to look like this:

const appInsights = require("applicationinsights");
appInsights.setup(config.appSettings.appInsightKey);
appInsights.start();

[2018-07-12 16:41] rbmathis opened #26 "Exercise 5, Task 5: Configure Kubernetes Ingress - item 15 snippet is truncated"
![task15](https://user-images.githubusercontent.com/25754016/42647072-75db2aa6-85c8-11e8-9d8a-2e8706b72276.PNG)

[2018-07-12 16:48] rbmathis opened #27 "Table of Contents doesn't show Task 5 : Configure Kubernetes Ingress under Excercise 4"

[2018-07-12 16:54] #26 closed

[2018-07-12 17:10] #25 closed

[2018-07-13 22:39] daniakodeih opened #28 "Error in Exercise 2 task 3 step 10"
Deploying the web service cause this error

Cluster
Namespaces
Nodes
Persistent Volumes
Roles
Storage Classes

Namespace
default

Overview
Workloads
Cron Jobs
Daemon Sets
Deployments
Jobs
Pods
Replica Sets
Replication Controllers
Stateful Sets
Discovery and Load Balancing
Ingresses
Services
Config and Storage
Config Maps
Persistent Volume Claims
Secrets

Settings
About
Logs from
web

in
web-6698dc

[2018-07-15 02:09] jamesrcounts commented on #28
Hello, this looks like a duplicate of #21, which is corrected in the latest master.

[2018-07-16 21:28] karlitoz007 opened #29 "AKS Name & Version"
Hello! AKS is now "Azure Kubernetes Service" and it is in GA (not preview anymore). So the content of this workshop (including WB &  HOL) should be updated accordingly.

[2018-07-16 22:50] waltermyersiii commented on #29
Hi Carlos,

I changed all references to Azure Container Services to Azure Kubernetes Service. Please validate. Also is there any reference to this being in preview?

Walter

[2018-07-17 06:14] clarenceb opened #30 "Improvements to DevOps coverage in trainer guide preferred solution"
The preferred solution mentions little about how to address the DevOps concerns.

Some suggestions could be:
- Mention `helm` and `draft` and Dev Spaces tooling and how these fit into the dev, test and deploy workflow
- Show how Helm can be used to deploy containers for each tenant from one or more common Helm charts using the same base containers (e.g. multiple deployments from same chart with pa

[2018-07-17 16:38] michelebusta commented on #29
I took a pass and found a preview reference. No other references to Azure
Container Service (AKS) - looks good. There are references to Azure
Container Service (in general) since it still exists in the portal.

On Mon, Jul 16, 2018 at 3:50 PM, Walter Myers III <notifications@github.com>
wrote:

--
Michele Leroux Bustamante
Co-founder and CIO, Solliance (solliance.net)
Cloud/Security Architect
Reco

[2018-07-19 23:08] #29 closed

[2018-07-19 23:08] #28 closed

[2018-07-19 23:08] michelebusta commented on #24
Is this resolved then?

[2018-07-31 03:01] karlitoz007 commented on #29
Thank you both!

[2018-08-14 13:05] roberto-mardeni commented on #24
I just ran this workshop yesterday and concur with @jamesrcounts , this issue should be closed.

[2018-08-14 13:11] roberto-mardeni opened #32 "web container shows error making calls to the api when"
After running the entire workshop, I found that after deploying the web container to AKS, it was showing 500 errors when making calls to the api container.

This turned out to be an error in the instructions not indicating to commit a change made in Task 6, Step 4 - After this step code should be committed and pushed to the repo.

[2018-08-14 18:07] waltermyersiii commented on #24
I will go ahead and close.

[2018-08-14 18:07] #24 closed

[2018-08-14 18:07] waltermyersiii commented on #24
Closed per @jamesrcounts and @roberto-mardeni.

[2018-08-14 18:09] waltermyersiii commented on #32
@roberto-mardeni, do you want to make the fix?

@jamesrcounts, @michelebusta

[2018-08-14 18:10] roberto-mardeni commented on #32
Sure, I can take care of it.

[2018-08-14 19:07] roberto-mardeni commented on #32
My fork is at https://github.com/roberto-mardeni/MCW-Containers-and-DevOps and pull request is already open

[2018-08-16 21:29] roberto-mardeni commented on #32
@waltermyersiii can you merge the pull request or should I do it?

[2018-08-17 17:45] waltermyersiii commented on #32
Done. Thanks, Roberto!

[2018-08-28 20:44] kylebunting opened #36 "Ready for review and QC"
The august-2018-testfix branch is ready for review and QC.

[2018-08-29 14:51] Roydemilde opened #37 "Install Bower NPM Warn message"
HOL -> Before the HOL -> Task 7 -> Step 10
Add a short text that you receive a NPM warning message when you try to install Bower. User can ignore the NPM warning.
![npm warn message](https://user-images.githubusercontent.com/11046097/44795707-a624ff80-abab-11e8-8d45-65756564fbac.png)

[2018-08-29 14:53] Roydemilde opened #38 "Azure blade pictures are outdated"
HOL -> Before the HOL -> Task 10 -> Step 2
Pictures used are outdated. Please update to the new Azure blade look

[2018-08-29 14:57] Roydemilde opened #39 "Add Azure-CLI installation verification step"
HOL -> Before the HOL -> Task 11

Add an extra step to let the user use the 'az login' command. purely for installation verification.

[2018-09-11 17:04] DawnmarieDesJardins opened #40 "Whiteboard design session"
Student Guide -
Please see line 172 - image not showing correctly.  I tried taking out a space but that didn't work.

Trainer Guide -
Line 300 - image not showing correctly.

[2018-09-11 19:16] DawnmarieDesJardins opened #41 "Before the HOL"
Please review alt-text on line 280.  It just says "Settings"  Is that correct?
Line 722 - alt-text is just "Clone"  Is that correct?

[2018-09-12 00:47] DawnmarieDesJardins commented on #36
Added Jay as it looks like he corrected the open issue I created yesterday.  This one is reviewed on my side, excellent job as usual, I only found a couple of things that need a peek.  I see several field issues that opened about the time this test/fix came through, please close any that have been addressed in the test/fix.  Thanks! Dawnmarie

[2018-09-12 00:48] DawnmarieDesJardins commented on #40
Reviewed and corrected (super fast, thanks Jay!) so closing issue.

[2018-09-12 00:48] #40 closed

[2018-09-14 18:33] #41 closed

[2018-09-17 14:57] sowsan opened #42 "Can't we use Azure Cloud Shell (CLI) instead of Win 10 VM setup ?"
Just to check on the step to setup win 10 VM with WASL to configure build VM (ubuntu), can't we use Azure Cloud Shell with CLI for that instead of setting up another VM ?

[2018-09-17 15:05] jamesrcounts commented on #42
I believe the reason we rejected this option is that later on in the lab you will need a "local" shell in order to create the tunnel to the kubernetes dashboard.

Even though the VM isn't local it meets the requirement because it has access to a full Windows desktop environment.

[2018-09-17 15:12] sowsan commented on #42
Make sense. Thank you!

[2018-09-18 19:08] sowsan opened #43 "Can we use the Ubuntu with Docker VM Image instead of vanilla Ubuntu image?"

[2018-09-18 20:32] sowsan opened #44 "Error while testing the content-web"
Hello -

Getting the Error while testing the content-web in Task #1

Error
====

**$ nodejs ./server.js &**
[2] 19404
$ /home/sowmyans/content-web/node_modules/debug/src/node.js:132
        let val = process.env[key];
        ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._c

[2018-09-19 13:27] #42 closed

[2018-09-19 18:29] waltermyersiii commented on #43
Marking as enhancement.

[2018-09-19 19:08] sowsan commented on #44
updating nodejs version to latest fixed the issue.

[2018-09-19 19:08] #44 closed

[2018-09-19 21:47] waltermyersiii commented on #43
Ok to close this?

[2018-09-19 23:55] sowsan commented on #43
Yes

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Walter Myers III <notifications@github.com>
Sent: Wednesday, September 19, 2018 5:47:12 PM
To: Microsoft/MCW-Containers-and-DevOps
Cc: sowmyan soman; Author
Subject: Re: [Microsoft/MCW-Containers-and-DevOps] Can we use the Ubuntu with Docker VM Image instead of vanilla Ubuntu image? (#43)

Ok to close this?

—
Y

[2018-09-19 23:57] #43 closed

[2018-09-20 22:10] DawnmarieDesJardins commented on #36
Hi Jay, I tried to merge this test/fix with the master as it looks like the issues have been addressed but I'm getting a merge conflict.  Please take a peek, resolve the conflict and merge this one - then we're all complete for August.  It's something to do with adding AZURE-REGION in a link.  Thanks much!

[2018-09-20 22:14] waltermyersiii commented on #36
Jay,

Since you forked, there were some updates to put placeholders for Azure region.  Check on the master where you see [AZURE-REGION] and put those placeholders in your forked repo.

Walter

From: Dawnmarie DesJardins <notifications@github.com>
Sent: Thursday, September 20, 2018 3:10 PM
To: Microsoft/MCW-Containers-and-DevOps <MCW-Containers-and-DevOps@noreply.github.com>
Cc: Subscribed <subscri

[2018-09-21 10:46] sowsan opened #47 "Installing the AKS CLI & Kubectl"
Can use the below command to install both aks cli + kubectl in one step

**sudo az aks install-cli**

[2018-09-21 13:40] jstulo commented on #36
I will merge this today.

Jay

[2018-09-21 15:50] waltermyersiii commented on #47
Labeled as improvement.

[2018-09-21 19:04] #36 closed

[2018-10-06 05:29] korpet0930 opened #48 "SyntaxError - Exercise 1, Task 1, no 13"
When I tried to run the application as background using "nodejs ./server.js &" the following errors were occurred.

"SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"

![image](https://user-images.githubusercontent.com/43843252/46567767-17f32480-c974-11e8-8843-913c0ef1d137.png)

[2018-10-07 01:03] jschluchter commented on #48
@korpet0930 what version of Nodejs do you have running?

[2018-10-07 01:07] jschluchter commented on #37
You may, or may not, see this error, given the fluid nature of dependent npm packages version updates. We can adjust the language to note this.

[2018-10-07 01:08] jschluchter commented on #6
Assigning @dstrebel

[2018-10-30 10:23] Abhishekpathania01 opened #49 "Authentication Failure to Azure DevOps VSTS Repo"
In Before hands on lab, **Task 13 -> Step 7** -> while running command: **git push -u origin  -all** authentication is failing even when we provide the correct password.

![image](https://user-images.githubusercontent.com/38715522/47711673-c6307800-dc5b-11e8-8b98-cdbc6d2a97d1.png)

[2018-10-30 16:29] DawnmarieDesJardins commented on #49
Assigning to Jay @jstulo.  Jay, you're working on this one, correct?

[2018-10-30 17:06] jstulo commented on #49
This one is on my schedule for text-fix in November, but I will look into this today.

From: Dawnmarie DesJardins <notifications@github.com>
Sent: Tuesday, October 30, 2018 11:34 AM
To: Microsoft/MCW-Containers-and-DevOps <MCW-Containers-and-DevOps@noreply.github.com>
Cc: Jay Stulo <jaystulo@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [Microsoft/MCW-Containers-and-DevOps] Authentic

[2018-10-31 18:39] jstulo commented on #49
There are some updates that will be made to this lab soon. The change from VSTS to Azure DevOps has introduced a couple of issues. To resolve this issue be sure that when you add the remote you remove the username@ from the url. You will be prompted for username and password from your git alternate credentials when you push in the next step, but this will solve the issue for now.

![image](https:/

[2018-10-31 18:40] #49 closed

[2018-11-05 22:44] Jiihaa opened #50 "Task 13 Git push fails"
Is there a missing configuration step or have things changed since I create the repo, and set origin and when I try to push, it fails with:
XXXadmin@fabmedical-XX:~/FabMedical/content-web$ git push -u origin --all
Password for 'https://fabmedical-XX@dev.azure.com':
fatal: Authentication failed for 'https://fabmedical-XX@dev.azure.com/fabmedical-XX/fabmedical/_git/content-web/'

I tried changing th

[2018-11-05 23:02] jstulo commented on #50
Please see the resolution mentioned here: https://github.com/Microsoft/MCW-Containers-and-DevOps/issues/49#issuecomment-434801602

[2018-11-05 23:05] Jiihaa commented on #50
That seems to do the trick, thank you!

[2018-11-05 23:05] #50 closed

[2018-11-17 18:39] joelhulen opened #51 "November test/fix"
Please complete a test/fix and reference this issue when you submit your PR.

[2018-12-06 22:03] rodaley commented on #48
Same Error As above
![image](https://user-images.githubusercontent.com/15801370/49614643-db927380-f978-11e8-9d3d-f796a1a0f195.png)

[2018-12-10 19:29] DawnmarieDesJardins commented on #51
QC complete, PR merged & HTML updated. Thank you

[2018-12-10 19:29] #51 closed

[2018-12-10 20:48] DawnmarieDesJardins commented on #48
We just completed a test/fix that may have address this.  Assigning to Joel to verify.  Thanks all!

[2018-12-11 17:47] waltermyersiii opened #54 "Add new Azure Monitor for AKS"

[2019-01-07 08:14] PraveenAnil opened #56 "Instruction for Searching Azure Cosmos DB from MarketPlace is Incorrect"
I have raised a PR with the updated instructions and Screenshots for Exercise 2 -> Task 2 -> Step 7.

https://github.com/Microsoft/MCW-Containers-and-DevOps/pull/55

[2019-02-01 22:52] RonnyA opened #59 "Azure DevOps repos and Linux require SSH. HTTPS does not work."
I spent the last 2-3 hours trying to get Git to authenticate and remember its setting with Azure DevOps repos for this lab.

I tried every trick in the book and had some random things to work (ie "git clone" worked using a personal access token instead of password, but trying a "git pull" immediately after made git ask for username and passord AGAIN and whatever I type it will not do anything then

[2019-02-04 22:31] DawnmarieDesJardins commented on #59
Thanks RonnyA.  I'm labeling this issue as an enhancement so our authors have it for the next update.

[2019-02-08 13:25] RonnyA commented on #59
I just learned that the reason why my HTTPS didnt work was that my alias and my organisation name was identical (ie DevOps organization=ronnyha and alias=ronnyha) then authentication did always fail. If I created an alias that was different from my organization (ie alias = ronnyha1) then I could use https.
However, i would probably still recommend using SSH because of the added security benefits.

[2019-02-12 05:27] ksix opened #64 "Exercise 4: Task 5: Step 10: helm cert-manager install fails"
**Exercise 4: Task 5: Step 10: helm cert-manager install fails**

Latest version of cert-manager (v0.6+) has a bug with `rbac.create=false` flags, install fails: https://github.com/jetstack/cert-manager/issues/1283

If you install the newer version, you then can’t uninstall it cleanly to install v0.5.2, which is the latest version that works: https://github.com/helm/charts/issues/9289

But running

[2019-02-15 20:49] #64 closed

[2019-02-15 21:15] DawnmarieDesJardins opened #66 "March 2019 - Scheduled content update"
@ZoinerTejada @joelhulen @kylebunting
Solliance team -
This workshop is scheduled for an update in March. On top of updating the current information, we will be adding an Infra WDS and lab version.  Please update this issue with suggested content changes. Once done, we'll assign to our SME team for review and additional feedback.

[2019-02-21 11:05] logcorner opened #67 "Issue when running bower install"
Hi,
I got an issue installing bower
Task 1: Test the application

13...
cd ../content-web
npm install
bower install
![bower](https://user-images.githubusercontent.com/5066547/53164537-b2c16800-35d0-11e9-8383-a863da67069f.png)

regards

[2019-02-25 14:02] jamesrcounts commented on #59
I believe HTTS auth issues have been resolved in #63

[2019-03-04 17:42] jamesrcounts commented on #66
@DawnmarieDesJardins,

After discussing on our side we would suggest the following content changes:

- Review lab for latest screens, terminology (Azure DevOps has iterated rapidly this year)
- Add exercise for authoring helm charts to support Continuous Deployment (CD) exercises.
- Add CD exercise (create an AKS deployment pipeline in Azure DevOps)
- Add some logging to the solution for Applicati

[2019-03-04 17:53] waltermyersiii commented on #66
Looks good. I have also asked our Azure Monitor team to weigh in.

[2019-03-05 10:05] Roydemilde commented on #66
Infrastructure is focussing more on Security within AKS?

[2019-03-05 13:59] jamesrcounts commented on #66
My understanding of the infrastructure lab is that it is a different version of the same content.  The topics and exercises will be the same, except the infrastructure lab will only focus on the operations side of things, and exercises that focus on code changes, etc will be simplified or left out.

[2019-03-05 14:06] jamesrcounts commented on #67
Can you run `ls -la` in the folder where the file exists and show us the results?

[2019-03-06 14:53] jamesrcounts commented on #67
Super, those are exactly the steps I would have recommended.  Just wanted to verify you were in that situation first.

[2019-03-06 14:53] #67 closed

[2019-03-06 23:45] DawnmarieDesJardins commented on #66
@waltermyersiii @bendq @ChongRX78
Hello gentlemen,
Please verify @jamesrcounts comment above to make sure we are clear on the direction of this update.
Thanks, Dawnmarie

[2019-03-07 00:02] waltermyersiii commented on #66
Yes, that is correct, James. There may be some specifics on the infra side that Ben and Chong want to contribute.

[2019-03-08 17:21] mwasham opened #69 "Most of the screenshots/verbiage is still VSTS instead of Azure DevOps"

[2019-03-09 01:24] DawnmarieDesJardins commented on #66
Please see open issue #69 when working this update.

[2019-03-09 01:46] joelhulen commented on #66
@waltermyersiii @DawnmarieDesJardins can you sign off on the suggested updates?

[2019-03-11 17:14] waltermyersiii commented on #66
Yes, you have my sign off. :-)

[2019-03-22 10:09] benc-uk commented on #59
There is also a  bug in the Git Credential Manager which can trip this step up
https://github.com/Microsoft/Git-Credential-Manager-for-Mac-and-Linux/issues/90

Which means the steps as described didn't work for me

The workaround I found was to use the legacy URLs for the git remote
e.g. this Git URL
[code]

Should be changed to, the older visual studio URL, which still works and works with Git-Cr

[2019-03-22 11:10] benc-uk opened #70 "Use of Vi/Vim 🤯"
I'm shocked (putting it mildly) that in 2019 we're asking people to edit code using Vi/Vim

- Why Vi/Vim and not Nano, which is a much, much MUCH more friendly editor!
- It's madness asking them to **TYPE IN** a Dockerfile rather than copy & paste it
- Why not use the Azure DevOps Repos web UI to create/edit the files? You can create new files there, paste into the web file editor. Then commit and

[2019-03-22 11:15] benc-uk commented on #42
@jamesrcounts - could you look at this again?

The `az aks browse` part now works in the Cloud Shell, it opens a gateway and the Kubernetes dashboard in a new browser tab

I moved my Kubernetes lab over to 100% Cloud Shell and it's 100% better than asking people to build a VM, which is a very old fashioned approach to labs IMO

[2019-03-22 18:57] waltermyersiii commented on #70
Ben, I support using Nano instead of Vi/Vim. I do think they should gain the experience of typing in a Dockerfile. That's part of the learning and that's how I learned it.

[2019-03-25 13:34] jamesrcounts commented on #70
@waltermyersiii I agree that typing some of the files are part of the learning process.

Not sure I feel strongly about keeping or removing vim.  Vim is a reality.  People looking to learn these topics are going to have to deal with Vim eventually.

Having said that, I didn't pick Vim, it was there in early drafts before I started working on this lab.  Today, my main concern about switching to Nan

[2019-03-25 13:37] jamesrcounts commented on #59
@benc-uk Are you suggesting that we should add a note about this workaround?  We're you running on the full setup as described in "Before the hands-on-lab" when you ran into this error?

[2019-03-25 13:38] jamesrcounts commented on #54
Included in the plan for #66

[2019-03-25 13:38] benc-uk commented on #70
Less work on build agent is a good idea, creating the Dockerfile via the git repo and pulling changes down would be a lot more real world way of working

Moving to Cloud Shell also another excellent idea

I also appreciative the timing might not be great, just something to consider for future updates

[2019-03-25 16:33] waltermyersiii commented on #70
@jamesrcounts, let's go ahead and stick with Vim. There's enough other stuff to worry about. We can look at Cloud Shell for the future, but that would also mean storing variables in case the session is interrupted, which is a bit of a pain. Still, it's promising and I'm sure they will eventually provide that automatically.

Definitely VS Code for editing locally.

[2019-03-26 16:36] undiscovereddev opened #72 "Lab Suggestions"
Hey all,

I ran the lab last week before running the class in London and it took over 8 hours.  I have seen some feedback from the class in Ireland and they made the same comment.  I have found that there are a few bugs, including administrator permissions not set for the ssh administrator initially on the ubuntu vm.  I ran the following command ($sudo chown -R <username> .config).
I also ran into

[2019-03-26 17:07] waltermyersiii commented on #72
Hi Becky,

Thanks for the feedback. Typically this lab does take about 4 hours, but it has aged a bit and we are currently going through an update cycle. Will factor this feedback into the update. BTW, the lab calls for Ubuntu 16.04, so unfortunately you chose the wrong machine that caused you trouble.

Walter

[2019-03-28 09:17] mousling commented on #37
I am blocked on the task 4.7 . Any Idea please how i can resolve this? Thanks
![Fehler](https://user-images.githubusercontent.com/48826514/55145220-a3d75380-5142-11e9-846d-567b4af20b2f.png)

[2019-03-28 09:25] mousling opened #73 "Excercise 4, task 7: Type the following command to create a Docker image for the web application"
I am blockt hier with an error message. Can anyone please help! Thank you
![Fehler](https://user-images.githubusercontent.com/48826514/55145872-db92cb00-5143-11e9-8605-a546ecda14a2.png)

[2019-03-28 19:23] karlitoz007 opened #74 "Task 12 of Before Hands of Lab"
Command "az acs" is (will be) deprecated, so please update Task 12 from "sudo **az acs kubernetes** install-cli --install-location /usr/local/bin/kubectl" to "sudo **az aks** install-cli ..."... Thanks!

[2019-03-28 19:25] karlitoz007 commented on #74
Note: This PR includes this fix https://github.com/Microsoft/MCW-Containers-and-DevOps/pull/71

[2019-03-28 19:45] waltermyersiii commented on #74
Carlos, we are currently going through an update so wouldn't be able to process the PR until after (and you would have to refresh). I will pass this on to the vendor to include in the update.

[2019-03-28 19:47] waltermyersiii commented on #66
Please include this from Carlos Reyes: Command "az acs" is (will be) deprecated, so please update Task 12 from "sudo az acs kubernetes install-cli --install-location /usr/local/bin/kubectl" to "sudo az aks install-cli ..."

[2019-03-29 01:49] wely commented on #66
Hi guys,

When do you plan to update to the march one?

[2019-03-29 16:20] waltermyersiii commented on #66
Hi Wely,

Soon. Working on it now.

[2019-03-29 16:21] waltermyersiii commented on #66
To be more precise, it will be updated in time for April Boot Camp, which is the week of April 8.

[2019-04-01 01:47] jamesrcounts commented on #74
Appears to duplicate #47

[2019-04-04 07:47] wely opened #78 "Azure CLI failed to installed in WSL Console (Ubuntu)"
Hi guys,

Having issue installing Azure CLI in WSL Console (Ubuntu).
Stuck at this for more than 1 hour:
![image](https://user-images.githubusercontent.com/1658657/55538275-a90f4200-56f0-11e9-8bce-e85f2e1b6fe6.png)

Referring to Azure CLI Installation Docs: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#troubleshooting

It indicated that:
_Since Windows Subs

[2019-04-04 07:48] wely commented on #78
Update... i cancelled it (Ctrl C) after a long time but when i try "az" comment, it works now...

[2019-04-04 07:48] #78 closed

[2019-04-09 07:01] PeterKessler commented on #66
Is the timetable still valid? Can I expect an update today/tomorrow?

[2019-04-09 20:14] DawnmarieDesJardins commented on #66
@PeterKessler @waltermyersiii
Hi Peter,
The updated whiteboard design session documents were updated 4/5.  Our authors are working on feedback updates to the lab.  Updated lab information will be complete by 5/3.
Dawnmarie

[2019-04-12 07:20] sunyutj opened #81 ""+ New Service Endpoint" maybe should be "+ New Service Connection""
![image](https://user-images.githubusercontent.com/3356476/56019136-755a9a80-5d36-11e9-84cf-ebb774a105fe.png)

[2019-04-15 18:45] dmckinstry opened #84 "Azure DevOps branding in azure-devops-aks.png"
Can we update "media/azure-devops-aks.png" to use individual service names and logos (per corporate guidance):

- "Azure Repos" (and the Repos icon) instead of "Azure DevOps Git",
- "Azure Pipelines (build and package)" instead of "Azure DevOps CI",
- "Azure Pipelines (Release)" instead of "Azure DevOps CD",
- "Azure Boards (Backlog)" instead of "Azure DevOps Backlog"

Since this is Node, shouldn'

[2019-04-15 18:47] dmckinstry commented on #69
I just opened #84, which may simply be marking this one as incomplete.

[2019-04-18 22:16] stefsch opened #86 "Changes requested for WDS student guide - Containers and DevOps.md"
Please change the sentence:

“What is the simplest way to move to containers on Azure, based on our PaaS experience, while at the same time considering our scale and growth requirements?”

--to--

 “What is the simplest way to move to containers on Azure, while at the same time considering our scale and growth requirements?”

[2019-04-18 22:19] stefsch opened #87 "Changes requested to WDS trainer guide - Containers and DevOps.md"
Please change:
“What is the simplest way to move to containers on Azure, based on our PaaS experience, while at the same time considering our scale and growth requirements?”
--to--
"What is the simplest way to move to containers on Azure, while at the same time considering our scale and growth requirements?”

Please change:
“Azure App Service specifically targets container deployments, which makes

[2019-04-19 02:52] jamesrcounts commented on #86
Thanks for the feedback!

[2019-04-19 02:52] #86 closed

[2019-04-19 02:59] jamesrcounts commented on #87
Thanks again

[2019-04-19 02:59] #87 closed

[2019-04-19 03:01] jamesrcounts commented on #81
Thanks!

[2019-04-19 03:01] #81 closed

[2019-04-19 03:04] jamesrcounts commented on #74
Fixed in #83

[2019-04-19 03:04] #74 closed

[2019-04-19 03:09] jamesrcounts commented on #84
This feedback appears to line up with the image currently on master, it has been replaced in #83.

[2019-04-19 03:09] #84 closed

[2019-04-26 11:43] mwasham opened #88 "bit.ly download links don't work.."

[2019-04-26 22:34] DawnmarieDesJardins commented on #88
@jamesrcounts
Hi Jim,  A new issue was opened today, please make sure this is addressed in the update you're currently working on.
Thanks, Dawnamrie

[2019-04-27 14:05] jamesrcounts commented on #88
@ZoinerTejada @kylebunting @michelebusta Can one of you look at this,  I don't have access to bit.ly

[2019-04-27 18:50] mwasham commented on #88
FYI - just realized I was looking at the March update.. (the infrastructure link).

[2019-05-01 14:24] jamesrcounts commented on #69
Fixed in the pending update

[2019-05-01 14:24] #69 closed

[2019-05-03 19:01] NoureenS opened #89 "Github integration?"
Will content be updated to add GitHub in this workshop?

[2019-05-03 19:10] waltermyersiii commented on #89
Specifically what are you looking for?

[2019-05-03 23:24] DawnmarieDesJardins commented on #70
Closing issue, addressed in March 2019 update

[2019-05-03 23:24] #70 closed

[2019-05-03 23:25] DawnmarieDesJardins commented on #88
Closing issue - addressed in March 2019 update

[2019-05-03 23:25] #88 closed

[2019-05-03 23:25] DawnmarieDesJardins commented on #66
Closing issue, addressed in March 2019 update

[2019-05-03 23:25] #66 closed

[2019-05-03 23:27] DawnmarieDesJardins commented on #73
Hello, we just completed an update to this lab.  Please review and reopen if that does not solve your issue.  Thanks!

[2019-05-03 23:27] #73 closed

[2019-05-03 23:27] DawnmarieDesJardins commented on #72
Closing issue, addressed as in March 2019 update

[2019-05-03 23:27] #72 closed

[2019-05-03 23:29] DawnmarieDesJardins commented on #59
Closing issue.  Please reopen if problem still exists.
Thank you

[2019-05-03 23:29] DawnmarieDesJardins commented on #54
Closing as addressed in March 2019 update

[2019-05-03 23:29] #54 closed

[2019-05-03 23:30] DawnmarieDesJardins commented on #47
Closing as addressed in March 2019 update

[2019-05-03 23:30] #47 closed

[2019-05-03 23:32] DawnmarieDesJardins commented on #30
Closing issue, resolved in recent upate

[2019-05-03 23:32] #30 closed

[2019-05-08 16:52] kevinhillinger opened #90 "Use of bower outdated"
Bower has been deprecated since pretty much 2017. We should remove this as a dependency in the lab as it gives the impression that we are behind the times.

However, I think this is a low priority issue.

[2019-05-08 17:00] waltermyersiii commented on #90
Thanks, Kevin!

[2019-05-09 11:27] kevinhillinger commented on #38
Task 10 is being mentioned by @Roydemilde but going through a lot of the screenshots, many, if not most are out dated. This includes default values the portal sets for the user, which is important in the case of things like security options.

One way of solving this would be to continue to update the screenshots with latest. The challenge with this is screenshot continuity. A second way of solving

[2019-05-09 17:22] waltermyersiii commented on #38
Thanks, Kevin. Looking forward to meeting next week to discuss an out of band PR to fix at least some of the issues. :-)

[2019-05-13 17:58] kevinhillinger opened #92 "Connection to CosmosDB fails - content-api"
While going through the developer HOL, In content-api/server.js, the connection string is failing as a result of the @ symbol in the CosmosDB Mongo connection string. Pod output:
[code]
Following the instructions in the error output, corrected the issue.

server.js @ Line 10:
[code]

I think this is probably a version issue in mongoose lib being used.

[2019-05-15 02:43] shawnweisfeld opened #94 "Error in proctor guide"
This page says "Azure Container Registry itself is a free service." however it has a daily cost, of at least $0.17 per day...

https://github.com/microsoft/MCW-Containers-and-DevOps/blob/master/Whiteboard%20design%20session/WDS%20trainer%20guide%20-%20Containers%20and%20DevOps.md

https://azure.microsoft.com/en-us/pricing/details/container-registry/

[2019-05-16 04:04] jamesrcounts commented on #94
@michelebusta can you provide some updated language for the WDS?

[2019-05-16 06:17] absinabs opened #95 "I am able to create a Hybrid cluster and with kubectl get nodes command my windows node is there with "Ready" state, however after few hours the windows node in the Cluster starts showing the "Not ready" status and when we try to see the Node with describe command it is showing like Node `NotReady` status with "Kubelet stopped posting node status" any idea how to resolve the issue"

[2019-05-16 22:37] #94 closed

[2019-05-17 13:48] jamesrcounts commented on #95
This issue does not appear to be related to the lab @DawnmarieDesJardins, we don't use any windows nodes in the lab.  So I don't have any info on resolving the issue.

[2019-05-17 19:25] DawnmarieDesJardins commented on #95
@absinabs
Hi Abhishek.  Can you give us some additional information that will help troubleshoot the problem you're having?
Thank you, Dawnmarie

[2019-05-17 20:30] absinabs commented on #95
What happened: We are doing some Poc on the hybrid kubernaties cluster (with windows and linux node) after creating the cluster with 2 windows and 2 linux it went fine and we were able to run our windows container in the pods on the node after 45 hours the windows node start showing not ready status ,though Cluster is still running . when we try to see the windows node with describe command it is

[2019-05-18 13:12] jamesrcounts commented on #95
This is not a forum for general AKS support, but only for issues directly related to this workshop, perhaps you are looking for the AKS repository here: https://github.com/Azure/AKS

[2019-05-18 13:12] #95 closed

[2019-05-22 11:38] kevinhillinger commented on #89
Closing this issue, as it's aging and non-specific. @NoureenS, it's great to see the willingness for suggesting improvements. Please provide specifics in the suggestions including:
- which portion of the MCW to improve (HOL or whiteboard)
- is this a content update or a significant material change?
- and finally, how you would suggest the implementation of the update/change

Thanks!

[2019-05-22 11:38] #89 closed

[2019-05-22 11:43] kevinhillinger commented on #6
@dstrebel any progress on this? I'm evaluating whether to assist with providing enhancements to the ["Before the HOL"](Hands-on lab/Before the HOL - Containers and DevOps.md) content, including templating out AKS.

to provide a cohesive / consistent lab experience, we may want to consider templates for the entire setup process, and not just a one off with AKS. Thoughts?

[2019-05-22 11:55] NoureenS commented on #89
Thanks Kevin. We spoke offline with Walter on this.

Regards,

Noureen

On Wed., May 22, 2019, 7:38 a.m. Kevin Hillinger, <notifications@github.com>
wrote:

[2019-05-26 10:46] SychevIgor opened #97 "yaml builds for azuredevops"
It's not a bug report, it's feature request.
As I've seen - Microsoft more and more focusing our attention on yaml based CI builds in Azure DevOps, but in this guide we are using Designer Based Build
It would be nice, if in a guide, Microsoft will add yaml files for CI process. It will make this lab closer to Microsoft own best practices and speedup the lab it self. (it's really hard to pass all s

[2019-07-18 20:38] waltermyersiii opened #102 "Container image scans"
Add this as part of pipeline. Also would be nice to discuss techniques for promotion across environments (e.g., Dev -> Test -> QA -> Prod).

[2019-08-15 18:41] DawnmarieDesJardins opened #103 "Field feedback"
Received this information via email.  Adding as an issue to be reviewed in upcoming update.

•	When I deployed the pre-work for the HoL everything was created in Western Europe, same location as my Resource Group, however the CosmosDB was deployed in East US so it is not picking up the resource group location
•	I had an issue with the NodeJS version on my WSL, might have been just me, I could prov

[2019-08-15 18:45] DawnmarieDesJardins opened #104 "September 2019 - Content update"
This MCW is scheduled for content update.
Solliance - please review current content and all open issues and recommended updates for SME review.

[2019-09-06 00:22] stefsch opened #105 "Minor changes requested to Whiteboard design session/WDS trainer presentation - Containers and DevOps.pptx"
On slide 20:

First bullet point - please change:
"App Service for Containers – simple, PaaS without robust orchestration platform management tooling"
--to--
"App Service for Containers – simple PaaS without full-featured container orchestration"

Speaker notes - please change:
"The easiest way to move to containers on Azure is to deploy containers to App Service for Containers, however, this opti

[2019-09-06 22:29] DawnmarieDesJardins commented on #104
Solliance team - please see Issue #105 and incorporate into current update.

[2019-09-07 01:57] jamesrcounts commented on #104
Here is the current plan as I understand it:

* Update title to "Cloud Native Applications"
* Revisit efficiencies in lab setup
  * Look to reduce number of setup steps
  * Remove unecessary VMs
  * Leverage Azure Cloud Shell
  * Leverage Azure Cloud Shell Code editor
* Discuss container scanning in WDS
  * Feature currently in private preview making lab support difficult--can revisit when it hits

[2019-10-02 13:31] woutervanranst opened #106 "Before the HoL / azuredeploy.parameters.json Suffix"
When I use "Suffix: Enter something like "SUF" with max of 3 chars." as described, I get the error

Deployment failed. Correlation ID: e75402b0-2491-4ebc-832a-3eca7fc112d2. {
  "code": "BadRequest",
  "message": "The character 'W' at index 11 is not allowed in the DatabaseAccount name\r\nActivityId: 90e061ff-56eb-4b92-bd7c-a367df7dcd42, Microsoft.Azure.Documents.Common/2.5.1"
}

Solution is to hav

[2019-10-02 13:33] woutervanranst opened #107 "Before the HoL / Bower Installation"
* Bower sends a warning that it is deprecated and further gave a permission issue and failed to install

Commands to resolve:

sudo chown -R $USER /usr/lib/node_modules
sudo su
npm install -g bower

[2019-10-02 13:33] jamesrcounts commented on #106
@DawnmarieDesJardins I believe this will be updated in the September update.  ARM template should now lowercase as needed automatically.

[2019-10-02 13:34] jamesrcounts commented on #107
Bower will no longer be part of the lab after the September update (#104)

[2019-10-06 15:47] masyanru opened #110 "permissions with creating public ip for ingress"
In the task 5 "Configure Kubernetes Ingress" I can deploy ingress controller and I see in kube-system namespace the external ip.
<img width="1137" alt="Screenshot 2019-10-06 at 18 35 58" src="https://user-images.githubusercontent.com/19715692/66271564-3a11d200-e868-11e9-861d-dd9c93b130df.png">

but "az network public-ip list" shows nothing. It shows IPs for aks hosts.

<img width="1222" alt="Scree

[2019-10-06 15:58] masyanru commented on #110
and nothing in default namespace

<img width="1083" alt="Screenshot 2019-10-06 at 18 52 06" src="https://user-images.githubusercontent.com/19715692/66271749-97a71e00-e86a-11e9-95b2-74a4b849a3e0.png">

[2019-10-06 16:16] masyanru commented on #110
So you can't run bash script, 'cause if you put public ip for ingress controller in the script, the result of query return nothing and you get this "az network public-ip update: error: argument --ids: expected at least one argument". And it makes sense since you have access only for two public IPs.

[2019-10-09 14:03] jamesrcounts commented on #110
The IP address is allocated in the resource group managed by AKS, which by default follows the pattern MC_{aks_resource_group}_{aks_cluster_name}_{region} (if I recall correctly).

The query you show, should still find the IP regardless of the resource group, but I'm wondering if your account has sufficient rights to see all the resource groups in the subscription.  Are you a subscription scoped O

[2019-10-09 16:12] masyanru commented on #110
@jamesrcounts, now I can't check because the labs was over, I only had 8 hours to play.

[2019-10-10 12:45] woutervanranst commented on #104
The command
`kubectl` get -o=yaml --export=true deployment api > api.deployment.yml
returns  "Flag --export has been deprecated, This flag is deprecated and will be removed in future."

[2019-10-10 12:47] woutervanranst commented on #104
The step

Both app insights are already created by the ARM app insights already created

[2019-10-10 12:51] jamesrcounts commented on #104
Thanks, just double checked and this is corrected in #109

[2019-10-15 22:11] DawnmarieDesJardins commented on #110
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:11] #110 closed

[2019-10-15 22:12] DawnmarieDesJardins commented on #107
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:12] #107 closed

[2019-10-15 22:12] DawnmarieDesJardins commented on #106
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:12] #106 closed

[2019-10-15 22:13] DawnmarieDesJardins commented on #103
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:13] #103 closed

[2019-10-15 22:13] DawnmarieDesJardins commented on #102
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:13] #102 closed

[2019-10-15 22:13] DawnmarieDesJardins commented on #90
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:13] #90 closed

[2019-10-15 22:14] DawnmarieDesJardins commented on #92
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:14] #92 closed

[2019-10-15 22:14] DawnmarieDesJardins commented on #97
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:14] #97 closed

[2019-10-15 22:14] DawnmarieDesJardins commented on #39
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:14] #39 closed

[2019-10-15 22:14] DawnmarieDesJardins commented on #38
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:14] #38 closed

[2019-10-15 22:15] DawnmarieDesJardins commented on #37
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:15] #37 closed

[2019-10-15 22:15] DawnmarieDesJardins commented on #6
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:15] #6 closed

[2019-10-15 22:15] DawnmarieDesJardins commented on #105
Closing as resolved.  Addressed in the recent update.

[2019-10-15 22:15] #105 closed

[2019-10-15 22:16] DawnmarieDesJardins commented on #104
Closing with merge of the update PR.

[2019-10-15 22:16] #104 closed

[2019-10-16 18:01] jamesrcounts opened #111 "Git clone URL still indicates old workshop name"
1. Type the following command and press `<ENTER>`:

[code]

should be changed to

git clone https://github.com/microsoft/MCW-Cloud-native-applications.git

[2019-10-16 18:02] jamesrcounts commented on #111
All paths that say the old name should be updated too.

[2019-10-17 17:35] jamesrcounts opened #112 "npm sometimes fails due to folder permissions on `.config`"
Include the `sudo chown` suggestion provided by npm as a troubleshooting step in the lab setup document.

![image](https://user-images.githubusercontent.com/1542583/67033060-b5298280-f0c9-11e9-8d6e-c3705ece7c0c.png)

[2019-10-17 18:16] jamesrcounts opened #113 "Git clone sometimes fails due to folder permissions on `.config`"
warning: unable to access '/home/adminfabmedical/.config/git/attributes': Permission denied

Like the npm issue (#112), the solution is to `sudo chown` that folder

[2019-10-17 18:34] jamesrcounts opened #114 "Lab Setup incorrectly states that command should be executed on a single line"
This is actually 3 steps.  Only the last step can be executed "in a single line".

[2019-10-17 18:50] jamesrcounts opened #115 "Killall nodejs does not kill node"
The angular app is started with `node` not `nodejs` so it keeps running after `killall nodejs`

[2019-10-18 12:49] jamesrcounts opened #117 "In the k8s secret step, it is not clear that the double quotes are required."
Adjust the language and perhaps add a screenshot

[2019-10-18 12:54] jamesrcounts opened #118 "Instruct students to update azure-pipelines.yml for content-init and content-api"
Currently shows a value from testing

[2019-10-18 12:56] jamesrcounts opened #119 "Update lab requirements related to Service principals"
suggested language

[2019-10-29 15:46] #112 closed

[2019-10-29 15:46] #113 closed

[2019-10-29 15:46] #111 closed

[2019-10-29 15:46] #114 closed

[2019-10-29 15:46] #115 closed

[2019-10-29 15:46] #119 closed

[2019-10-29 15:46] #117 closed

[2019-10-29 15:46] #118 closed

[2019-11-15 13:05] Gvashi opened #124 "Content-Web Pipeline Build is failing"
In Exercise 2 -> Task 7:-> step 4, I'm getting error in helm init while building the pipeline.
The build is failing due to helm. I was able to get past error by editing the pipeline to install helm version v2.8.2 instead of pointing to the latest.
But, I faced another issue at helm update step

[2019-11-15 13:38] timahenning commented on #124
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/  We will review your issue soon.

Tim

[2019-11-17 20:58] VaSquirrel opened #125 "Before the Hands on Lab - Task 6 Step 6 error."
I receive this error consistently in this lab.  I tried US West and US South Central.  I deleted and recreated a different Resource group.
I am using a Pay-As-You go Azure account.

az group deployment create --resource-group fabmedical-Ray --template-file azuredeploy.json --parameters azuredeploy.parameters.json
<<-- Error Message -->>
	ray@Azure:~/MCW-Cloud-native-applications/Hands-on lab/arm$

[2019-11-17 21:47] darkgnosis opened #126 "How to confirm Task 6: Deploy ARM Template was successful"
I had issues with the ARM deploy.  When I run it again, it now gives me the flowing error:

Deployment failed. Correlation ID: 911389f7-30ce-4575-b8d7-c81055b51793. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "DeploymentFailed",

[2019-11-18 13:52] VaSquirrel commented on #125
Originally, I set all of this up using West US per the example.  So the resource group fabmedical-Ray location is West US.  When the error first occurred I followed recommendations to change location in the deploy parameters file to a new region South Central US.
Turns out the deploy script uses "[resourceGroup().location]" for many things so it still tries to create the server in West US.
So, do

[2019-11-18 16:57] michelebusta commented on #126
did you get errors on the first deployment too? or just on second? what were "issues" on the first deploy?

[2019-11-18 21:17] inatale commented on #124
The same for me as well. Not only on Init step bu also on package task command (could be resolved by using save: false - force not to save locally). And than new errors on init step (like --upgrade flag not found).

[2019-11-19 00:21] vraposo commented on #126
Is it possible to get some more information on the result of the first deployment?

[2019-11-19 00:36] vraposo commented on #125
To facilitate the deployment of all the resources in the same location, the location used by almost all the resources is based out of the resource group itself. The easiest/fastest way to deploy in another region is to do so to a resource group created in that target region.

Regarding changing the VM size, it's possible to do so by modifying the `virtualMachineSizeLinux` variable, but the virtual

[2019-11-19 02:57] darkgnosis commented on #126
The initial run was erroring out because I was on the wrong region. I deleted everything and started over in centralus. I'm not sure how that run completed, as the azure client timed out, forcing me to re-log in. That was my main concern, how do I know if it finished correctly? I haven't had any problems as of yet doing labs.

[2019-11-19 02:59] trigolddev opened #127 "Stuck at task #7 step 20"
I was able to follow the instructions all the way down to this Task #7, step 20. I don't know where to start from there. I do not see content-web folder using the cloud shell window. In other words, it seems that the content-web folder was not created somehow. Are we expecting that folder to be generated when the repository (named as content-web) was created through UI.  I do see the repository co

[2019-11-20 13:38] santimacnet opened #128 "Images don't appear in the workshop"
The images in the workshop aren't displayed in the browser.

[2019-11-20 16:48] timahenning commented on #128
Hi @santimacnet ,

Can you provide a little more information regarding this issue?  Can you provide us the exact area in the lab you experienced this issue?

Thanks,

TIm

[2019-11-20 17:21] santimacnet commented on #128
For instance, Please check this url: https://github.com/microsoft/MCW-Cloud-native-applications/tree/master/Hands-on%20lab/media the images dont appear if you click in any of them and if you are working.

And in this link: https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md, is the tutorial step by step to co

[2019-11-21 13:28] Gvashi commented on #124
@timahenning can you please take a look .

[2019-11-21 14:53] jamesrcounts commented on #128
I have not been able to replicate this behavior by following either link.

[2019-11-21 14:56] jamesrcounts commented on #124
This is most likely related to the release of Helm 3 which came out very recently and has significant differences from Helm 2.

[2019-11-21 22:10] DawnmarieDesJardins commented on #128
@santimacnet
Hello!  Please advise if it's a single image you're not seeing, or if all of the images are missing for you.  I've viewed each workshop on the repo, and from the HTML pages, and they show for me.
Thank you.

[2019-11-22 00:08] aaronpburke commented on #124
I was experiencing this same issue and the solution proposed by @jamesrcounts fixed it. Please note that in the final YAML file, you'll have to make this change in two places (the "Build and Push Helm Chart" and "Deployment to AKS" jobs).

[2019-11-22 01:01] aaronpburke opened #129 "/stats page does not display webTaskId, shows IP as hostname"
In Developer Exercise 3, Task 1, step 7 says:

But when I hit my /stats _web_ endpoint_ with 1 web pod and 2 API pods as expected at this point in the exercise, the displayed **webTaskId** is empty and **hostName** is the same as the IP address of the server (the external endpoint listed in Kubernetes is also the same IP address) and does not fluctuate across requests. However, opening a developer

[2019-11-22 15:09] jamesrcounts commented on #127
Sounds like you are in Before the Hands On Lab, Task 7: https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md#task-7-setup-azure-devops-project

In Step 2 of this task you should have navigated to one of these folders:

 `cd ~/MCW-Cloud-native-applications/Hands-on\ lab/lab-files/developer/`

or

`cd ~/MCW-Clou

[2019-11-25 08:10] santimacnet commented on #128
Hi!! My apologies in advance, it was a problem with my browser and plugins.

[2019-11-25 18:38] DawnmarieDesJardins commented on #128
All good, thank you so much for letting us know.

[2019-11-25 18:38] #128 closed

[2019-11-26 13:14] Gvashi commented on #124
I updated the helm installer task to force a version of helm 2 in two places, but still I got the error in Azure CLI Task in "Build and Push Helm Chart":
/home/vsts/work/_temp/azureclitaskscript1574770526748.sh: line 7: failOnStandardError:: command not found
##[error]Script failed with error: Error: The process '/bin/bash' failed with exit code 127

[2019-11-26 19:36] santimacnet opened #130 "Helm init Fails in Exercise #2 - Task #4"
Hi, you can check the issue in this section:

1. **Cloud-native applications - Developer edition hands-on lab step-by-step**
2. **Exercise 2: Deploy the solution to Azure Kubernetes Service**
3. **Task 4: Deploy a service using a Helm chart**

When I try execute this command: _$ helm init --service-account tiller_
Its produces this message: Error: _unknown flag: --service-account_

I think the pro

[2019-12-02 22:45] vraposo commented on #130
Might be related with what @jamesrcounts originally posted in https://github.com/microsoft/MCW-Cloud-native-applications/issues/124#issuecomment-557121268_

[2019-12-06 15:37] jamesrcounts commented on #130
Should be fixed by #131

[2019-12-06 15:37] jamesrcounts commented on #129
We have updated the stats page in #131

[2019-12-06 15:38] jamesrcounts commented on #127
We did not encounter this issue while testing #131

[2019-12-06 15:38] #127 closed

[2019-12-06 15:40] jamesrcounts commented on #124
#131 Updates the lab to support Helm 3.

[2019-12-16 18:12] #124 closed

[2019-12-16 18:12] Gvashi opened #132 "Content-Web Pipeline Build is failing"
In Exercise 2 -> Task 7:-> step 4,
1.Command "helm install --name web ./web" showing an error ,
2. I updated the helm installer task to force a version of helm 2 in two places, but still I got the error in Azure CLI Task in "Build and Push Helm Chart":
/home/vsts/work/_temp/azureclitaskscript1574770526748.sh: line 7: failOnStandardError:: command not found
##[error]Script failed with error: Error:

[2019-12-17 02:10] jamesrcounts commented on #132
Issues with helm should be resolved in #131

[2019-12-17 18:50] timahenning commented on #132
We have a PR about to be merged any day now.  I apologize.

[2019-12-18 23:13] evmoreno opened #133 "Update Kubernetes Version in azuredeploy.json"
Hands-on lab/arm/azuredeploy.json

deprecated    "kubernetesVersion": "1.10.12"

[2019-12-18 23:35] DawnmarieDesJardins commented on #132
Closing issue with merge of PR #131

[2019-12-18 23:35] #132 closed

[2019-12-18 23:35] DawnmarieDesJardins commented on #130
Closing issue with merge of PR #131

[2019-12-18 23:35] #130 closed

[2019-12-18 23:35] DawnmarieDesJardins commented on #129
Closing issue with merge of PR #131

[2019-12-18 23:35] #129 closed

[2019-12-18 23:39] DawnmarieDesJardins commented on #133
Hi @evmoreno
I just merged a December test/fix for this workshop.  Can you please check to see if that merge has resolved your issue?  If not, I'll have one of our authors review it.
Thanks - Dawnmarie

[2019-12-19 07:50] Gvashi opened #134 "Helm cmd gives error: In az cli Helm 3"
Helm cmd gives error: In az cli Helm 3 but according to lab guide we are using older version of Helm. So have to use Helm v2.1.6.
please update this as v2.1.6

[2019-12-19 13:57] jamesrcounts commented on #134
Yesterday the team merged a PR #131 that updates the lab guide to Helm 3 so that it matches the default installed in Azure Cloud Shell.  Are you saying parts of the lab still refer to Helm 2?

[2019-12-27 11:09] wely commented on #133
@DawnmarieDesJardins , not yet fixed since https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/arm/azuredeploy.json is still not yet updated to Dec. It still show for the 26 Sept.

[2019-12-29 16:37] timahenning commented on #125
Closing the issue due to lack of activity.  Please let us know if you have additional questions on this issue.

[2019-12-29 16:37] #125 closed

[2019-12-29 16:40] timahenning commented on #126
Closing this issue due to lack of activity.  Please let us know if this is still an issue and we will reopen the issue.

[2019-12-29 16:40] #126 closed

[2019-12-30 19:14] DawnmarieDesJardins commented on #134
Closing issue with no further contact from field.  Assuming fixed with December test/fix

[2019-12-30 19:14] #134 closed

[2019-12-30 19:16] DawnmarieDesJardins commented on #133
@wely - please check again.  Everything I see is dated December.  You may need to clear history and/or cookies to get the latest version.

[2019-12-31 07:48] wely commented on #133
@DawnmarieDesJardins FYI:
![image](https://user-images.githubusercontent.com/1658657/71614124-edc6fb80-2be4-11ea-99b2-2ffea1acacfa.png)

[2019-12-31 23:27] #133 closed

[2020-01-15 03:16] wely opened #137 "Ingress Error on Exercise 4 Task 5"
I was doing [this](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md#task-5-configure-kubernetes-ingress) but encountered the error of: **Answer: 404 Not Found
nginx/1.17.6**

I notice that the NGINX Ingress Controller image isn't the community version so i did these and it eventua

[2020-01-21 15:09] PriyankaGupta05 commented on #59
HTTPS still does not work for me.
I cannot git push anything back to my Azure repo without giving credentials in my pipeline.

[2020-01-21 20:28] DawnmarieDesJardins commented on #59
Reopening issue with new information received.

[2020-01-24 02:03] vraposo commented on #59
@PriyankaGupta05 is it possible to provide some more information on which section of the document this issue happens? Is it in the *Before the HOL* document or in one of the *HOL* documents?

Just to double-check, I'm assuming you are using the Azure Cloud Shell like mentioned in the documents, correct?

[2020-01-24 14:52] vraposo commented on #137
Fixed in PR #138.

[2020-01-25 00:11] DawnmarieDesJardins commented on #137
Closing issue as resolved with merge of PR #138

[2020-01-25 00:11] #137 closed

[2020-01-27 13:32] PriyankaGupta05 commented on #59
@vraposo  Hey , I am used 2 types of Microsoft hosted agents [Ubuntu 18 LTS & MacOS 10.14].
Same error used to happen in them.
In my case , Azure Pipeline was not able to :: git push :: to Azure repos being in the same Azure organisation [Both repo & pipelines].
I tried to give git credentials in a Bash task :: git config global xx .
Nothing worked.
Finally i have to do Generate Git credentials in

[2020-01-27 18:11] vraposo commented on #59
It looks like you might be deviating from the lab instructions or it could be I do not have enough lab context of where you are having troubles.

We will try to assist you if there are easy to understand requests with clear references to which document and section it relates to. Unfortunately, we cannot debug unique environments. There are too many variations.

Would you please be able to provide

[2020-01-29 10:05] PriyankaGupta05 commented on #59
![build](https://user-images.githubusercontent.com/20393916/73346936-07606f00-4287-11ea-9a87-570469fc78ec.png) This is my yaml file which i made it so simple for testing.
![yaml](https://user-images.githubusercontent.com/20393916/73346937-07f90580-4287-11ea-8a90-8b876445e3d8.png)
this is build output.

I did all possible permissions enabled . which were needed to do for this "git push" command to

[2020-02-03 23:17] timahenning commented on #59
@PriyankaGupta05 Is there a specific part of the lab you are referring to?  Please reply back with the exact exercise and step.

Thanks,

Tim

[2020-02-04 09:38] PriyankaGupta05 commented on #59
Hello everyone,

I tried this in  my company for 4 organisations where i want to use only 1 generic user credentials to access Azure Repos from Azure Pipelines.

I just want to push some information back to azure repos , which is getting generated while building in Azure pipelines USING only MY Credentials.

 I **DO NOT** want all users to use their credentials[OAuth] for the git push to Azure Rep

[2020-02-04 17:15] vraposo commented on #59
@PriyankaGupta05 it looks like you might be deviating from the lab instructions (please correct me if I am wrong here), because there is no place in any of the lab documentation files that implies pushing code from an Azure Pipeline to an Azure DevOps repository.

This issue tracking relates with the _MCW-Cloud-native-applications_ lab, so anything that doesn't relate with the lab itself does not

[2020-02-04 17:20] timahenning commented on #59
@PriyankaGupta05 Is there a specific part of the lab you are referring to? Please reply back with the exact exercise, task, and step.  We can only provide support for the lab exercises.  The authors cannot duplicate your issue in the lab at this time.  All other support will need to be handled by Microsoft Support.  Without specific lab references and errors we can duplicate, we will have to close

[2020-02-07 08:24] wely opened #139 "Shall we move the provisioning of AKS with VM Scaleset"
VMSS enables much more scenario such as Nodepool and Cluster Autoscaler.
This current lab (and the ARM template) uses the legacy VM, not VMSS.

Shall we consider to move to VMSS?

[2020-02-07 09:22] PriyankaGupta05 commented on #59
Yeah its not in the lab instructions and its was just my company's requirement.
I raised this question due to similar issue being talked about.

[2020-02-07 19:14] timahenning commented on #59
Thank you for the follow-up.

[2020-02-07 19:14] #59 closed

[2020-02-16 13:46] adjinugroho opened #140 "Before HOL - SSH Key"
Task : **Task 6 : Deploy ARM Template**
File : **azuredeploy.parameters.json**
Key : **VirtualMachineAdminPublicKeyLinux**
Error Summary : **SSH Key**
Error Description :
I think I need to input SSH key fingerprint generated when create SSH key in Task 4 because in step 6, I need to keep cloud shell open because I will need it in later task.

This error lead to re-create VM which mean take some ti

[2020-02-16 13:56] adjinugroho opened #141 "HOL - Exercise 2 - Task 1 : Tunnel into the Azure Kubernetes Service cluster"
I was doing [Exercise 2 Task 1](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md#task-1-tunnel-into-the-azure-kubernetes-service-cluster).

When I run step 5 command, _az aks browse --name fabmedical-SUFFIX --resource-group fabmedical-SUFFIX_, new tab opened json-like file instead

[2020-02-17 05:42] wely commented on #141
As the AKS engineering team is working on the fix which will be rolled out soon, please append the following at the end of the URL:

"api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/#!/overview?namespace=default"

Example:
https://gw.region.console.azure.com/n/xxx/xxx/proxy/8001/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/#!/overview?namespace=de

[2020-02-18 01:24] wely commented on #141
I was informed by Azure Support, to workaround this, we can also perform:

**Enable the AKS-Preview extension in Cloud Shell: az extension add --name aks-preview**

[2020-02-18 02:54] wely opened #142 "CosmosPairedLocationName is redundant?"
Step: https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md#task-6-deploy-arm-template

I wonder if we really need to enter the CosmosPairedLocationName in the json file since we already have the "CosmosPairedLocation". Is it redundant?

[2020-02-19 00:01] vraposo commented on #142
*CosmosLocationName* and *CosmosPairedLocationName* can't be removed, since they are required as per the template reference documentation.

The only field we can remove is *CosmosPairedLocation*, since it's only used as part of the easy-to-read id generation for the fail-over geographical location, although that is actually what the portal actually does.

[2020-02-20 17:39] vraposo commented on #142
@wely do you have any extra feedback on this subject? We are trying to push updates to the lab and would like to take this issue into account accordingly.

Thanks.

[2020-02-20 20:23] aautere opened #143 "Excercise 2 Task 5 step 23 fails with old Cloud Shell with Helm 2.6.x"
Do you have any instructions how to bypass a problem when executing
`helm install web ./web`
 I complains about Tiller. When I checked my helm version it is something 2.6.x. I understand the instructions are for Helm 3 which does not contain Tiller. Can you instruct ho to bypass this problem? Should I try to update my Cloud Shell Helm to version 3 (if yes how?) or is there other way to executing t

[2020-02-21 02:00] wely commented on #142
Hi @vraposo, yeah i realize that LocationName is required from the CosmosDB ARM Template.
![image](https://user-images.githubusercontent.com/1658657/74997359-de4f8a80-5490-11ea-9282-b690e7c37b68.png)

Not really sure why we need to have the "LocationName" since we already have the "location"

@markjbrown can you advise?

[2020-02-21 02:25] markjbrown commented on #142
locationName is probably for a replication region in case you want to put the replica in a region that is different than the ARM resource meta data.

best way to tell is look in azuredeploy.json and see. My guess is location is used to set the ARM resource location and locationName is used to specify a replica region.

[2020-02-21 02:38] wely commented on #142
@markjbrown
Below is the screenshot of the ARM creation template from Azure Portal.

This is what i mean:
![image](https://user-images.githubusercontent.com/1658657/74999240-15746a80-5496-11ea-9fd2-53c0fcc74382.png)

Why do we need to specify the primary "locationName" as "West US", while we already have "location" as "westus"?

Why do we need to specify the  "pairedLocationName" as "East US", whi

[2020-02-21 02:57] markjbrown commented on #142
Went and round azuredeploy.json for this lab. Pretty easy to see what these values are used for here below. Pasted a snippet of the cosmos account arm json.

CosmosLocation is where the ARM metadata is stored.
CosmosLocationName is the primary write region.
CosmosPairedLocationName is the secondary read region.

You _**could_** remove the locations[] array below and our resource provider will depl

[2020-02-21 03:03] wely commented on #142
@markjbrown Maybe i have confused you by raising the issue in this lab. Sorry about that.

Forget about this lab for the moment.

Let's take a step back, i just wondering: during the Azure Cosmos DB Account creation step in the Azure Portal :

- Why do we need to specify the primary "**locationName**" as "**West US**", while we already have "**location**" as "**westus**"?
- Why do we need to speci

[2020-02-21 03:11] markjbrown commented on #142
yeah either is ok to pass to any resource provider in Azure. ARM understands both formats.

If someone wanted to modify the ARM template that did away with one of those they easily could, provided they know how to modify the ARM template :)

[2020-02-21 03:28] wely commented on #142
@markjbrown
i tried to remove "locationName" in the template, just define "location":

Here's the template.json file:
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "String"
        },
        "location": {
            "type": "String"
        },
        "d

[2020-02-21 03:43] markjbrown commented on #142
It's asking for it because you have the locations[] array in your template. Just remove it completely. See here below. Removed other stuff you don't need or aren't using either.

{
"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
"contentVersion": "1.0.0.0",
"parameters": {
"name": {
"type": "String"
},
"location": {
"type": "String"
},
"defaultExperienc

[2020-02-21 06:06] wely commented on #142
cool @markjbrown . this works! So we can conclude that **"locationName" isn't required when we provision single geo CosmosDB**.

I have one more question, please bear with me :)

For the creation with Geo-Redundancy, is the "pairedLocationName" required?
I've tried to remove it as can be seen in the following files but apparently it doesn't pass the deployment validation.
[cosmos-geo-template.txt]

[2020-02-21 06:09] markjbrown commented on #142
There is no Geo-Redundancy option like you see in the portal. If you want multiple regions, use locations array and specify all regions.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Wely Lau <notifications@github.com>
Sent: Thursday, February 20, 2020 10:06:43 PM
To: microsoft/MCW-Cloud-native-applications <MCW-Cloud-native-applications@noreply.github.com

[2020-02-21 06:10] wely commented on #142
okay, thanks @markjbrown

[2020-02-21 06:10] #142 closed

[2020-02-21 19:15] vraposo commented on #143
There was an accidental downgrade in the Helm version with the latest Azure Cloud Shell update which will be fixed in the next update (show be Really Soon).

In the interim, it is possible to install Helm v3 yourself with `curl https://aka.ms/cloud-shell-helm3 | bash`.

Public Reference: https://twitter.com/snuffling/status/1230873689937235968

[2020-02-21 19:24] vraposo commented on #139
Fixed in PR #144 .

[2020-02-21 19:25] vraposo commented on #140
Fixed in PR #144 .

[2020-02-21 19:25] vraposo commented on #141
Fixed in PR #144 .

[2020-02-21 20:08] aautere commented on #143
Thank you for the Helm 3 upgrade script, it solved the issue and saved a lot of my time 💗.

[2020-02-21 20:08] #143 closed

[2020-02-24 18:49] timahenning commented on #141
We are finishing up the review today.

[2020-03-02 19:35] DawnmarieDesJardins commented on #141
Closing issue as resolved with merge of PR #144

[2020-03-02 19:35] #141 closed

[2020-03-02 19:36] DawnmarieDesJardins commented on #140
Closing issues as resolved with merge of PR #144

[2020-03-02 19:36] #140 closed

[2020-03-02 19:36] DawnmarieDesJardins commented on #139
Closing issue as resolved with merge of PR #144

[2020-03-02 19:36] #139 closed

[2020-03-18 22:33] MAPeacock86 opened #145 "Before the Hands on Lab - Task 6: Azure group deployment is deprecated"
Running the following command in task 6 displays a warning that "...'group deployment' is depricated and will be removed in a future release. Use 'deployment group' instead."

[2020-03-20 00:19] nelsonflorez11 commented on #145
I still get the error
nelson@Azure:~/MCW-Cloud-native-applications/Hands-on lab/arm$ az  deployment group create --resource-group aksdemo-nf --template-file azuredeploy.json --parameters azuredeploy.parameters.json
{'additional_properties': {}, 'code': 'InvalidTemplateDeployment', 'message': "The template deployment 'azuredeploy' is not valid according to the validationprocedure. The tracking id i

[2020-03-20 01:47] andresmmujica commented on #145
finding the right kubernetes version and replacing the value in azuredeploy.json solves this issue

        - "kubernetesVersion": "1.15.5",
        + "kubernetesVersion": "1.16.7",

[2020-03-20 20:35] andresmmujica opened #147 "Exercise 1 Task 3 - Create and run a Docker application"
During this task we're facing this issue,

Type the following command to create a Docker image for the web application.

docker image build -t content-web .

Step 11/15 : RUN ng build
 ---> Running in 9ceb88eeb599
Generating ES5 bundles for differential loading...
An unhandled exception occurred: [BABEL] /usr/src/app/dist/content-web/main-es2015.js: Could not find plugin "proposal-numeric-separato

[2020-03-20 21:12] andresmmujica commented on #147
Changing in tsconfig.json

    "target": "es2015",

to

    "target": "es5",

seems to solve the issue

[2020-03-21 14:19] CedricSteenbeke commented on #147
Ran into the same issue while building the container. The solution posted above seems to work.
@andresmmujica  will you create a pull request for this?

[2020-03-22 13:58] CedricSteenbeke opened #148 "Exercise 2 Task 2 - api connect to cosmosdb"
Getting an exception when trying to connect to CosmosDB with the secret configured.
it seems to have access to the secret and it's using it but there is not connection possible to the cosmosdb instance. Cosmosdb is allowing connections.
![image](https://user-images.githubusercontent.com/6039016/77251220-1a6b3c00-6c45-11ea-86d3-5dfeb62c27bb.png)

[code]

[2020-03-24 22:00] timahenning commented on #148
We’re working on a solution and should have something released in a few days.

[2020-03-24 22:01] timahenning commented on #147
We’re working on a solution and should have something released in a few days.

[2020-03-24 22:01] timahenning commented on #145
We’re working on a solution and should have something released in a few days.

[2020-03-26 01:50] vraposo commented on #148
@CedricSteenbeke we were not able to reproduce the problem you mentioned. Is it possible to provide the actual value of the configured secret (please redact the password) to take a look? Thanks.

[2020-03-26 10:29] CedricSteenbeke commented on #148
@vraposo below my redacted secret value for the mongodb secret:
`mongodb://fabmedical-aks:VTRAdw3ugP97MiVLXbkIH5StHFYgg%3D%3D@fabmedical-mks.documents.azure.com:10255/contentdb?ssl=true&replicaSet=globaldb`

The deployment config for API

And for sake of doing a sanity check i exported my secret references:

[2020-03-26 17:03] vraposo commented on #148
@CedricSteenbeke from what I can read in your YAML file, it seems that either something happened during your copy-paste to here or it's something wrong with it, because the environment definition is not below the *image* property as it should.

Can you confirm which of the above options is it? Thanks.

[2020-03-26 18:12] CedricSteenbeke commented on #148
Removed the deployment and redid it from scratch a 3e time.
First deployment i must have messed up the secret
second deployment was probably what you idicated above.
third deployment shows that it can connect to cosmosdb.
Thank you for pointing out my mistake in the yaml!! sorry

[2020-03-26 18:12] #148 closed

[2020-03-27 01:27] vraposo commented on #147
You're contribution is now part of PR #150 which also includes the changes required for the Developer version.

[2020-03-27 01:33] vraposo commented on #145
Your contribution is now part of PR #150.

Regarding the proposed AKS version upgrade, such a change involves various risks at this point in time, because v1.16.7 uses kubernetes-dashboard v2.0.0-beta8 which is not a stable version (and has been displaying some issues at the moment). The version has been upgraded to the latest v1.15 patch (v1.15.10).

[2020-03-27 23:59] #145 closed

[2020-03-27 23:59] #147 closed

[2020-04-06 18:31] DawnmarieDesJardins opened #152 "Security Alerts - for next review"
GitHub security alerts, closed as acceptable risk for now, please review and incorporate into next test/fix or update.

![Annotation 2020-04-06 113138](https://user-images.githubusercontent.com/39317565/78592665-49171400-77fa-11ea-9c0c-0b3ac8a15d32.png)

[2020-05-18 20:46] timahenning opened #154 "June 2020 Update Suggestions"

[2020-06-09 20:28] DawnmarieDesJardins opened #156 "Security Alert - for June Update/Refresh"
Adding this Security alert for review in our upcoming refresh/update.  Clearing the security alert as "a fix has already been started."

websocket-extensions
 Open	GitHub opened this alert 3 days ago  (June 6, 2020)

Bump websocket-extensions from 0.1.3 to 0.1.4 in /Hands-on lab/lab-files/developer/content-web  dependencies
#155 opened 2 days ago by dependabot bot
1 websocket-extensions vulnerabil

[2020-06-28 18:15] crpietschmann commented on #152
What project is this for?
This MCW does not contain a `Hands-on lab/Lab-files/azure-iot-pcs-remote-monitoring-dotnet` folder.

[2020-06-29 16:16] DawnmarieDesJardins commented on #152
@crpietschmann
Hi Chris.  I would have copy/pasted from the security page on this repo into here for future review.  If this no longer applies, or I made a copy/paste error, go ahead and close out the issue, we can readdress if it comes up again.  Thank you! DD

[2020-06-30 23:03] crpietschmann commented on #152
@DawnmarieDesJardins Could you close this one out? I don't have permissions.

[2020-06-30 23:11] DawnmarieDesJardins commented on #152
Absolutely...thanks for the review!

[2020-06-30 23:11] #152 closed

[2020-07-01 03:18] crpietschmann commented on #154
Pull Request #157 relates to this issue.

[2020-07-15 18:42] Gvashi opened #159 "kubernetes version "1.15.10" is not supported"
The given kubernetes version "1.15.10" in lab guide  is no more supported in azure. can you please check .

[2020-07-15 18:55] DawnmarieDesJardins commented on #159
Hi Gvashi,
We are currently working on an update for this workshop and we'll be publishing the new version soon.  Your issue has more than likely been addressed there but I'm adding a tag to PR #157 to make sure.
Thank you

[2020-07-15 20:43] waltermyersiii commented on #159
Gvashi, you can use 1.15.11.

[2020-07-15 20:43] waltermyersiii commented on #159
And yes, we have an update coming soon.

[2020-07-16 22:06] crpietschmann commented on #159
The latest update to the MCW has been updated to use "1.15.11" which is a supported version.

[2020-07-16 22:06] #159 closed

[2020-07-26 01:50] crpietschmann opened #163 "Look a migrating Helm v3 in ACR as per docs"
As of Helm 3, az acr helm commands for use with the Helm 2 client are being deprecated. See the product roadmap. If you've previously deployed Helm 2 charts, see Migrating Helm v2 to v3. https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos

we should use the following instead to push the chat to ACR

variables:
`HELM_EXPERIMENTAL_OCI: 1`

[code]

[2020-07-27 15:42] arnoldojperozo opened #164 "Kubernetes Version no longer Supported"
Hi all ... I had an issue with template execution due to Kubernetes version. template code version is no longer supported.

_"kubernetesVersion": "1.15.10"_ **#No Longer Supported**

I fixed the issue manually validating supported versions for my region and changing the value. But I think this issue can be better solved using a new parameter on the template-parameters file.

[2020-07-29 21:21] crpietschmann commented on #164
Thanks for brining this up. The update that is still in progress to the MCW has updated the kubernetes version to 1.15.11 which is a supported version.

[2020-07-29 21:21] #164 closed

[2020-07-31 05:43] r-kalyan-r opened #165 "kubernetes dashboard"
when i give az aks browse --name fabmedical-SUFFIX --resource-group fabmedical-SUFFIX it is asking for token or config file to login what should i do

[2020-07-31 15:34] waltermyersiii commented on #165
Did you create the ClusterRoleBinding step previously?

kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard

[2020-08-05 00:55] crpietschmann commented on #165
Please be sure to follow all the steps. Skipping the `kubectl create clusterrolebinding` step may prevent it from working.

[2020-08-05 00:55] #165 closed

[2020-08-05 00:56] #156 closed

[2020-08-05 00:57] crpietschmann commented on #163
This was brought up in the process of testing the June 2020 update. The lab steps work as written in the June 2020 update, but in a future update or fix this should be revisited to ensure there aren't any breaking changes that result with future updates to Azure DevOps as mentioned above.

[2020-08-05 04:17] crpietschmann commented on #163
This fix has been made.

[2020-08-05 04:17] #163 closed

[2020-08-07 15:21] sumitmalik51 opened #167 "Getting helm web status failed issue ."
Getting helm web installation issue exercise 2-->Task 4--> Step 23:-

please find the below screenshots for refrence:-
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/45102602/89660953-b2657b80-d8ef-11ea-8a83-c1b14edcc7eb.png)
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/45102602/89660958-b42f3f00-d8ef-11ea-869c-053a9dfaaf58.png)

[2020-08-07 19:28] himanshuahlawat31 opened #168 "failed to pull image"
Hi while accessing external ip in exercise 2 task 6 i am not able to access ip even though web service is  deployed
![image](https://user-images.githubusercontent.com/57964598/89681245-2fa1e800-d912-11ea-87af-8983d73812c1.png)
i provided contributor permission to user also but still i am getting the same error , can you please check on this as we have lab scheduled on sunday

[2020-08-08 07:36] himanshuahlawat31 commented on #168
can you please check on this i tried doing this again but still it is throwing error, i am using 1.15.11 aks version

[2020-08-08 17:31] himanshuahlawat31 commented on #168
Hi Any update on the issue?

[2020-08-08 21:57] himanshuahlawat31 commented on #168
adding below now i am getting error while running the command **docker container run --name api --net fabmedical -p 3001:3001 content-api**
![image](https://user-images.githubusercontent.com/57964598/89720473-3c950900-d9f0-11ea-8267-2fd76235cd0f.png)

[2020-08-09 07:39] himanshuahlawat31 commented on #168
@crpietschmann can you please take a look into this?

[2020-08-09 07:53] himanshuahlawat31 commented on #168
and while performing exercise2 task 3  i am not able to get sessions section in site
![image](https://user-images.githubusercontent.com/57964598/89727530-704d4e80-da43-11ea-8749-bfd53cc125ec.png)

[2020-08-09 08:26] himanshuahlawat31 commented on #168
in exercise 2 task 4 while updating chart.yaml , we have to update appversion to latest but there is no appversion defined in that file instead api version is defined, do we need to update api version?

[2020-08-09 13:09] #168 closed

[2020-08-14 08:08] hans-verbeeck opened #169 "azureKubernetes version in azuredeploy.json file"
![MCWIssue1](https://user-images.githubusercontent.com/60719831/90228003-c93b2f00-de15-11ea-8bce-45ba1e05e295.JPG)
I had to change the kubernetesVersion from 1.15.10 to 1.15.11before the deployment would start. I work in the regions West Europe, North Europe, West US and West US 2.

[2020-08-21 20:41] rwildema opened #170 "AAD Service Principal (Task 5) needs updating"
It appears our guidance for connecting to AKS with a Service Principal has changed since this lab guide was written. per https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-kubernetes an image pull secret needs to be created and used for Task 2 in the development track of the HOL.
Please let me know if i can assist in updating and feel free to ping me on Teams

[2020-08-24 15:13] timahenning commented on #169
@hans-verbeeck We are about to release an update in the next couple of days.

[2020-08-24 15:17] hans-verbeeck commented on #169
Great, thank you.

I hope you will be releasing more fixes. I have tried twice to get through the HOL but failed each time early on in the workshop, not long after the pre-reqs…

Thx,
Hans

From: Tim Henning <notifications@github.com>
Sent: maandag 24 augustus 2020 17:14
To: microsoft/MCW-Cloud-native-applications <MCW-Cloud-native-applications@noreply.github.com>
Cc: Hans Verbeeck <hansverbeeck@o

[2020-08-26 09:55] sumitmalik51 opened #171 "issues while running pipeline for content-web."
In exercise 1 last step while setting up the build for Content-web, the pipeline getting failed with error "docker repository is not found or you need to docker login again " but i am able to run the pipeline for content-api,

also getting the below issue while committing locally.
![image](https://user-images.githubusercontent.com/45102602/91289733-58e6c300-e7b0-11ea-9777-80bcb3fd4a40.png)

[2020-08-26 18:02] DawnmarieDesJardins commented on #154
Closing as resolved with merge of PR #156

[2020-08-26 18:02] #154 closed

[2020-08-26 18:03] DawnmarieDesJardins commented on #167
Closing as resolved with merge of PR #156

[2020-08-26 18:03] #167 closed

[2020-08-26 18:03] DawnmarieDesJardins commented on #169
Closing as resolved with merge of PR #156

[2020-08-26 18:03] #169 closed

[2020-08-26 18:03] DawnmarieDesJardins commented on #170
Closing as resolved with merge of PR #156

[2020-08-26 18:03] #170 closed

[2020-08-26 18:04] DawnmarieDesJardins commented on #171
@sumitmalik51
Hi Sumit!  I just merged an update PR to the repo.  Please review and let us know if that resolved your issue.

[2020-08-30 15:13] sumitmalik51 commented on #171
thanks for the update, will reopen the issue if i face again.

[2020-08-30 15:13] #171 closed

[2020-08-31 11:34] himanshuahlawat31 opened #173 "kubernates dashboard not working"
HI in exercise 2 while accesing kubernates dashboard we are facing issue in authentication , we need to get tokens for authentication that is not mentioned in lab guide . we can get that using **kubect config view** . after authentication i am getting an error 200
![image](https://user-images.githubusercontent.com/57964598/91715761-f7f22d00-ebab-11ea-94c9-ef34250c3830.png)

Note: we are using 1.16

[2020-09-01 19:55] himanshuahlawat31 commented on #173
Hi , any update on this?

[2020-09-01 22:09] timahenning commented on #173
Thank you for reporting this issue.  We are working to resolve your issue within the support time frame defined in https://microsoftcloudworkshop.com/.  If you have a workshop delivery coming up soon, leave a comment with details and we will try to resolve the issue sooner.  In the meantime, verify all task instructions have been followed and Azure environment is still valid.

Tim

[2020-09-02 10:45] himanshuahlawat31 commented on #173
Yes we have lab scheduled for 4-september, if possible can you please prioritise this ?

[2020-09-02 22:54] timahenning commented on #173
The content author has not been able to review the issue just yet.  Have you tried this version:  "kubernetesVersion": "1.15.12"?

[2020-09-02 23:02] DawnmarieDesJardins commented on #173
@himanshuahlawat31
Hello,  I received confirmation from our author to update to version 1.15.12.  I just merged that PR, you should be good to go.  Closing issue as resolved.

[2020-09-02 23:02] #173 closed

[2020-09-17 13:16] waeltken opened #176 "Kubernetes version 1.15.12 no longer supported and dashboard being deprecated"
AKS no longer supports kubernetes 1.15 and the hands-on-lab needs an update. Later kubernetes versions on AKS deprecate the dashboard requiring the hands-on-lab instructions to be updated.

[2020-09-17 13:26] timahenning commented on #176
@waeltken Thank you for the heads up.  We will try to get this soon.

[2020-09-21 12:32] waeltken commented on #176
We have people delivering the workshops on 28.09. and 30.09..

My suggestion would be to install the k8s dashboard manually, generate an admin user and use `kubectl proxy` to connect to the dashboard. With this the lab can be completed as described.
[code]

https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creating-sample-user.md#creating-a-service-account

[2020-09-22 03:20] DawnmarieDesJardins commented on #176
Closing issue as resolved with merge of PR #177

[2020-09-22 03:20] #176 closed

[2020-09-25 06:53] VaibhavCSA opened #181 "Before the HOL - Cloud-native applications"
Before the HOL - Cloud-native applications - Task 6 Fails

ValidationError: Azure Error: InvalidTemplate
Message: Deployment template validation failed: 'The template parameters 'Suffix, VirtualMachineAdminUsername, VirtualMachineAdminPassword, VirtualMachineAdminUsernameLinux, VirtualMachineAdminPublicKeyLinux, KubernetesServicePrincipalClientId, KubernetesServicePrincipalClientSecret, Kubernetes

[2020-09-25 07:52] waeltken opened #182 "Helm chart for cert manager needs update in exercise 4 task 5"
The cert manager version 0.8 used in the hands on lab is not compatible with kubernetes 1.17 and needs an update.

Caused by the deprecation of `apps/v1beta1` in the newer k8s version.
Please watch out that later versions of cert manager change the API for `ClusterIssuer`.

https://github.com/jetstack/cert-manager/blob/release-0.8/deploy/charts/cert-manager/templates/deployment.yaml

[2020-09-28 05:17] sumitmalik51 opened #183 "Issues with AKS version 1.17.10"
The cert manager version 0.8 used in the hands on lab is not compatible with kubernetes 1.17 and needs an update.

Caused by the deprecation of apps/v1beta1 in the newer k8s version.

* Exercise 2 task 2 step 3 CPU is not accepting 0.125
![1](https://user-images.githubusercontent.com/45102602/94393511-d2d7e680-0178-11eb-8a6b-93ea8050cda7.jpg)

* provided 1 at place of 0.125 but the is shown below

[2020-10-04 05:31] crpietschmann commented on #181
Did you make sure you configured the template parameters in the `azuredeploy.parameters.json` file before running the template deployment?

I have run the template deployment recently and it does work without error.

[2020-10-05 06:50] akn9050 commented on #183
Hi @timahenning, when are you merging the fixes. We gave to try out the fixes for upcoming scheduled labs.

[2020-10-05 14:19] timahenning commented on #183
@akn9050 The technical fixes were merged to master.  The small markdown changes will be published later.

[2020-10-05 14:19] #183 closed

[2020-10-05 17:24] timahenning commented on #182
Fixed in recent update.

[2020-10-05 17:24] #182 closed

[2020-10-05 17:25] timahenning commented on #181
@VaibhavCSA Did you get a chance to try Chris's suggestion?

[2020-10-06 00:08] VaibhavCSA commented on #181
Hello Tim,
It was a long weekend here in AUS, I am back on decks will try it update you guys.

Thanks a Ton !

With Gratitude.
Vaibhav
Cloud Solution Architect (Apps & Infra)
[cid:948a1dd7-67c7-4721-9a7d-3a950d2e1273]
________________________________
From: Tim Henning <notifications@github.com>
Sent: Tuesday, October 6, 2020 4:26 AM
To: microsoft/MCW-Cloud-native-applications <MCW-Cloud-native-app

[2020-10-12 17:51] timahenning opened #188 "October 2020 Update Suggestions"
### Pull Requests to be Assessed and pulled in appropriately
- [x] PR #186 Revert "Update template to use System Assigned Identity."
- [x] PR #187 Update containerRegistry env in sample yaml

### Design Session Additions

- [x] Add relational vs non-relational component to the design session

  - Relational database will focus on PostgreSQL on Azure

  - Will keep the Speakers and Sessions list be

[2020-10-18 22:49] watson-enlighten opened #189 "Before the HOL instructions still reference a requirement for Azure DevOps"
An older version of this workshop used Azure DevOps, while it is now using Github instead. However the instructions on this page https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md still states that an Azure DevOps account is required instead of a Github account.

There are also a couple of other references o

[2020-10-19 20:40] DawnmarieDesJardins commented on #181
No additional input, closing issue.

[2020-10-19 20:40] #181 closed

[2020-10-21 03:58] watson-enlighten opened #190 "Issues discovered while running through HOL step-by-step - Cloud-native applications - Developer edition"
I ran through the Developer edition of the workshop this week and noted a few issues where the instructions didn't quite work as expected. None of these were particularly challenging to work around, but I'm raising an issue so these can be reviewed and potentially fixed to reduce possible confusion:

===================================

## Before the Hands on Lab ##

### Task 7: Create a GitHub re

[2020-10-21 17:07] DawnmarieDesJardins commented on #188
Feedback received via email:

From: Cameron Sipes
Subject: RE: Cloud-native application - Content update confirmation

Hi Team,

I went through the proposed changes in the below GitHub repo for updating the Cloud Native In-A-Day/Azure Immersion Workshop and it looks to align to our feedback.

Thanks,
Cameron

From: Maddy Butzbach
Subject: RE: Cloud-native application - Content update confirmation

[2020-10-26 10:59] herveleclerc opened #191 "missing start script in package.json of content-init"
Data are not initialized when using docker image `content-init`, this one fails with error "start script not found" because start script is missing in package.json

[code]
should be
[code]

[2020-10-26 18:35] timahenning commented on #190
We are working on an update and plan to wrap issues into the update.  The publish date should be around early December 2020.  Thank you so much pointing out some suggestions for improvement.

[2020-10-26 18:46] timahenning commented on #189
We are working on an update and plan to wrap issues into the update. The publish date should be around early December 2020. Thank you so much pointing out some suggestions for improvement.

[2020-10-27 12:22] herveleclerc opened #192 "build-and-publish-docker-image jobs use deprecated version of docker/build-push-action (v1)"
docker/build-push-action@v1 is deprecated

upgrade to v2.

old block

[code]

Should change to something like :

[code]

[2020-11-03 00:37] himanshuahlawat31 opened #195 "exercise 2 task 2 step 16"
Hi , while deploying apideployment.yml i am facing the following error
![image](https://user-images.githubusercontent.com/57964598/97934125-c27be280-1d9a-11eb-8ccf-8b7d2b3f0e88.png)

I have checked the indendation in yml it is as per lab guide , still i am facing this issue .

can you please take a look into this?

[2020-11-03 00:44] himanshuahlawat31 commented on #195
when we use kubernates dashboard sometimes we get the following error
![image](https://user-images.githubusercontent.com/57964598/97934454-c8be8e80-1d9b-11eb-8e05-cf4fd0b8d31f.png)

[2020-11-04 14:02] snpdev commented on #188
As a trainer that delivers the Cloud Native in a Day workshop, I'd like to make a few comments about the October update.

I like the suggestions for Exercise 3, but in the workshop we'll never get that far.

The timings given for each exercise are way off. In my last virtual delivery, we stepped though the developer HOL and after 3.5 hours, only made it through [Exercise 2, Task 6](https://github.

[2020-11-04 14:15] snpdev opened #196 "Kubernetes Dashboard deprecation?"
Much of [Exercise 2: Deploy the solution to Azure Kubernetes Service](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md#exercise-2-deploy-the-solution-to-azure-kubernetes-service) revolves around the use of the Kubernetes management dashboard. This leaves the impression that the da

[2020-11-05 16:47] saimachi commented on #195
Hello @himanshuahlawat31,

Unfortunately, we were not able to isolate the same issue that you encountered. Moreover, this warning message is unclear, as mentioned in https://github.com/kubernetes/kubernetes/issues/82154. You could run _kubectl get all_ or _kubectl rollout status deployment.apps/api_ in the Azure cloud shell. The second command demonstrates whether the pod replicas of the deploymen

[2020-11-12 17:23] rajredd opened #200 "clone local git to azure devops error"
error: failed to push some refs to 'https://rajredd@dev.azure.com/rajredd/fabmedical/_git/content-web'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note ab

[2020-11-12 17:31] timahenning commented on #195
Hi @himanshuahlawat31,

Is there any other discussion on this issue?  If not, I will close this issue in a few days.

[2020-11-12 19:11] timahenning commented on #200
Hi @rajredd,

Does your remote origin repo have updates that need to be merged locally?  Try a 'git fetch'.   What HOL were you working on when you received this message?  What exercise and task were you on when you received this error message?

[2020-11-12 20:17] crpietschmann commented on #195
@himanshuahlawat31 On the error mentioned when using the Kubernetes Dashboard, there is a bug of some kind in the Kubernetes Dashboard (`kubernetes-dashboard`) that is causing an authentication issue some times when accessing the dashboard web app through a proxy how it's used in AKS. All you need to do is click the "user/profile" icon in the upper-right of the dashboard, select "Sign out", then s

[2020-11-12 20:53] crpietschmann commented on #196
Yes, as you noted the Kubernetes resource view (currently in preview) in the Azure Portal is the replacement Microsoft is providing as they will be deprecating the Kube Dashboard on K8s 1.19 (currently in preview) and higher. The lab is currently built using K8s 1.17.11 which does support the Kubernetes Dashboard in AKS, so the lab steps as written are currently functional and supported by Microso

[2020-11-12 21:29] snpdev commented on #196
Thanks @crpietschmann. Frankly, I am not keen on training people on soon to be deprecated tech. I'll at least warn people, show them kubectl cli alternatives, and as time allows dip into the Kubernetes resource view.

I'm scheduled to deliver the workshop again in January and March 2021. When the time comes, I'll need to coordinate with the Microsoft partner that provisions the labs to ensure they

[2020-11-12 22:02] rajredd commented on #200
THANKS FOR REPLY.  THE ERROR CAME AFTER STEP 21 FROM THE ATTACHED INSTRUCTIONS. 
    On Thursday, November 12, 2020, 02:11:16 PM EST, Tim Henning <notifications@github.com> wrote:

Hi @rajredd,

Does your remote origin repo have updates that need to be merged locally? Try a 'git fetch'. What HOL were you working on when you received this message? What exercise and task were you on when you receive

[2020-11-12 23:12] timahenning commented on #200
Hi @rajredd,

Did you see my Git question?

[2020-11-13 00:30] rajredd commented on #200
I followed the steps 18-19 from "before the HOL" pdf file; and there was README.md file generated from the step 18 (create a new repository).  there was no updates on this remote origin repo other than this README.md file.

[2020-11-13 00:50] rajredd commented on #200
I sent the following commands in azure cli,

rajred@Azure:~/MCW-Cloud-native-applications/Hands-on lab/lab-files/infrastructure/content-web$ **git fetch**
Password for 'https://rajred@dev.azure.com':
warning: no common commits
remote: Azure Repos
remote: We noticed you're using an older version of Git. For the best experience, upgrade to a newer version.
remote: Found 3 objects to send. (31 ms)
Un

[2020-11-13 14:23] timahenning commented on #200
You should not have a readme.md file in your repo.  The before hands on lab has this instruction:

![image](https://user-images.githubusercontent.com/48766586/99082062-8570d680-2578-11eb-92e0-c6d12aee863a.png)

Try 'git pull' to merge the remote repo with your local repo.

[2020-11-13 14:53] rajredd commented on #200
yes, it worked now. I deleted/recreated "content-web" repository without README.md. PHEW !

[2020-11-13 14:54] #200 closed

[2020-11-13 15:00] rajredd commented on #200
thank you very much. 
    On Friday, November 13, 2020, 09:23:36 AM EST, Tim Henning <notifications@github.com> wrote:

You should not have a readme.md file in your repo. The before hands on lab has this instruction:

Try 'git pull' to merge the remote repo with your local repo.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-13 15:37] crpietschmann commented on #196
Update: I've done some exploration of the "Kubernetes resource view" preview features in the Azure Portal, and it doesn't have all the same feature parity of the Kubernetes Dashboard just yet. I don't know when it'll be GA, but I'd assume it'll have more functionality by that time.

[2020-11-13 16:00] snpdev commented on #196
I believe you are right @crpietschmann.

At the moment, I am inclined to skip over Tasks 1 & 2 of Exercise 2 and go straight to [Task 3: Deploy a service using kubectl](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md#task-3-deploy-a-service-using-kubectl).

In any event, please l

[2020-11-13 16:55] rajredd opened #201 "ng build not working?"
having issue when execute task1/step 13 from "HOL step-by-step" instructions. (see below)
=========
13. Navigate to the web application directory, run npm install and ng build.

cd ../content-web
npm install
ng build      <==     having issue
====

rajredafabmedical@fabmedical-887:~/content-web$ ng build
The program 'ng' is currently not installed. You can install it by typing:
sudo apt install ng

[2020-11-13 17:12] timahenning commented on #201
Hi @rajredd,

In the Before HOL, there is a step to install the Angular CLI.

![image](https://user-images.githubusercontent.com/48766586/99100121-38006380-2590-11eb-84ae-bf9b5b99fc8c.png)

Execute that step and you should be fine.

[2020-11-13 19:28] rajredd commented on #201
I do remember I have done "sudo npm install -g @angular/cli" before run HOL step-by-step. I went back to agent build VM, reinstall agaular/cli, I was able to build app.js now. thanks. I am able to see all the speakers and sessions data from VM public ip address now. thanks.

[2020-11-13 19:28] #201 closed

[2020-11-13 22:36] rajredd opened #202 "could not locate 'Settings' tab from GitHub repository"
Exercise 1/Task 8
====
Task 8: Setup CI Pipeline to Push Images
In this task, you will use YAML to define a GitHub Actions workflow that builds your Docker image and pushes it to your ACR instance automatically.

In GitHub, return to the Fabmedical repository screen, and select the Settings tab. <== could not find this tab
====

I did not find "Settings tab" (after "Insights" tab)  from GitHub rep

[2020-11-13 22:47] rajredd commented on #202
I tried to append "/settings" to the url, it did not work.

http://blog.ericd.net/2020/01/17/github-i-lost-my-repo-settings-tab/

[2020-11-13 23:28] himanshuahlawat31 commented on #195
Hi , we tried the lab again and found same issue , we found a workaround that if we deploy existing app from dashboard and then try to deploy using command it will work

[2020-11-14 13:35] timahenning commented on #202
Hi @rajredd,

I found the task information you referenced in Task 9.

![image](https://user-images.githubusercontent.com/48766586/99148115-cd583200-263a-11eb-9bf5-52029bd6ccfb.png)

![image](https://user-images.githubusercontent.com/48766586/99148163-1a3c0880-263b-11eb-9e94-aa7cff75603c.png)

[2020-11-14 14:31] rajredd commented on #202
I found the Setting tab after I forked my own copy of this workshop repository. thanks.

[2020-11-14 14:31] #202 closed

[2020-11-14 15:42] rajredd opened #203 "GitHub "Run workflow/Build and Push Docker Image" : unauthorized: Application not registered with AAD"
I am getting an error during "Run workflows" in github. (Exercise 1/Task 8/Step 16) (see the attached screen shot), can you help?

Task 8: Setup CI Pipeline to Push Images

16. Selecting the Build and Push Docker Image job of the workflow will display it's execution status.

![image](https://user-images.githubusercontent.com/37375319/99150845-4ec4ba00-2665-11eb-8972-dfa5bcc69c60.png)

[2020-11-14 15:49] rajredd commented on #203
Fabmedical ACR has a Service Principle created as instructed in "Before HOL". Not sure where the authorization to ACR took place during this GitHub action of running workflow?

[2020-11-14 16:16] rajredd commented on #203
Sorry, I entered the ACR_USERNAME of the secret without the suffix. I fixed it now. the login worked. but i am getting this error

unable to prepare context: path "./content-web" not found; can you tell where "./content-web" was expected? in "build agent" or ACR repository? I am confused.

![image](https://user-images.githubusercontent.com/37375319/99151601-69e5f880-266a-11eb-81ce-91de8203e83f.png

[2020-11-16 00:09] rajredd opened #204 "Error @ Exercise 2/Task 4/Step 23: Deploy a service using Helm chart"
rajred@Azure:~/MCW-Cloud-native-applications/Hands-on lab/lab-files/infrastructure/content-web/charts$ **helm install web ./web**
Error: rendered manifests contain a resource that already exists. Unable to continue with install: Service "web" in namespace "default" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.kubernete

[2020-11-16 09:44] akn9050 commented on #195
Hi @crpietschmann, I tested out the lab and found that the deployment configuration which we are downloading in ex2, task2 step 16 for the api which was created using UI, after downloading we are are adding Image property in deployment configuration file and then applying those in teh same api in step 19 using ```kubectl apply -f api.deployment.yml``` , which is not working as api created from UI

[2020-11-16 13:46] timahenning commented on #195
It sounds like your issue has been resolved.

[2020-11-16 13:46] #195 closed

[2020-11-16 16:51] saimachi commented on #203
Hello @rajredd,

When we executed the lab, we were unable to isolate the same issue. As for your question, "./content-web" refers to the location within your Fabmedical GitHub repository. If you look at the content-web.yml workflow file, that path and the Dockerfile present within that location are used to build a container that is pushed to Azure CR.

I took a look at your repository at https://g

[2020-11-16 17:54] crpietschmann commented on #188
For the Traffic Manager piece, I'm leaving off creating another AKS in a secondary region. Doing this would repeat many steps at the beginning of the lab and add like another hour to it's length. Setting up Traffic Manager with the one AKS will show the steps necessary, and introduce attendees to what they would do to have a multi-region AKS environment using Traffic Manager.

[2020-11-16 23:51] rajredd commented on #203
Thank you for your reply. I was very sure that I followed the "Before HOL" instructions. Now I realized that I was following https://stmsdaysprerequisites.blob.core.windows.net/ms-days-prerequisites/Before%20the%20HOL%20-%20Cloud-native%20applications.pdf
this instruction was given from an online workshop offered last week that I was not able to attend. I was trying to do the lab myself after the

[2020-11-16 23:51] #203 closed

[2020-11-20 16:25] saimachi commented on #204
Hello @rajredd,

The issue that you are experiencing is not related to the helm version, since we were unable to isolate the same issue even though we used the same build of helm.

First, ensure that you delete the web deployment and the web service in Kubernetes dashboard, as described in Steps 1-4. If you tried making an update to the release using helm, consult the helm upgrade command (https:/

[2020-11-20 16:58] rajredd commented on #204
OK, Thanks.

[2020-11-20 16:58] #204 closed

[2020-11-20 19:19] DawnmarieDesJardins commented on #196
@snpdev
Thanks Mike!  I'm the PM for the MCWs.  I've added your name to my SME list for our next update.  Closing this issue for now as there is no available action.

[2020-11-20 19:19] #196 closed

[2020-11-24 14:26] immeorfj opened #206 "Wrong command in Exercise 1, Task 1, Step 14"
The provisioned VM is just named fabmedical and not fabmedical-[SHORT_SUFFIX]

This means that the command
`az vm show -d -g fabmedical-[SUFFIX] -n fabmedical-[SHORT_SUFFIX] --query publicIps -o tsv`

should be changed to

`az vm show -d -g fabmedical-[SUFFIX] -n fabmedical --query publicIps -o tsv`

[2020-11-25 22:29] saimachi commented on #206
Hello @immeorfj,

Unfortunately, we were not able to encounter the same problem. When you deploy the ARM template mentioned in the Before the Hands-on Lab document, you need to configure deployment parameters in the _azuredeploy.parameters.json_ file (Task 6). In this case, you need to provide a three-letter suffix.

Also note that this lab is undergoing review. If you continue to encounter proble

[2020-11-27 09:11] wely opened #207 ""ng build" error in"
Hi folks,
HOL-Developer Edition: Exercise 1, Task 1, Step 13 after running "ng build"
Apparently it doesn't work as expected.
![image](https://user-images.githubusercontent.com/1658657/100431661-74c17400-30d3-11eb-9e6a-5a55eeb3f128.png)

[2020-11-27 13:58] sajeetharan commented on #207
It worked fine for me! can you paste a screen shot? here is mine,

![image](https://user-images.githubusercontent.com/4833351/100456578-a5f76f80-30e6-11eb-9858-7afd988f70e2.png)

[2020-11-30 22:29] saimachi commented on #207
Hi @wely,

We were unable to isolate the same problem. Ensure that you are in the _~/Fabmedical/content-web_ directory when you run the command. Moreover, the command is _ng build_, but it appears that you may have accidentally opened a text editor in your cloud shell, so please verify that you entered all commands properly. When you run the command properly, you should see something similar to wh

[2020-12-01 09:26] wely commented on #207
thanks @sajeetharan and @saimachi
It's fine now. the issue was i copied / pasted multiple lines at one time to the command prompt :)

[2020-12-01 09:26] #207 closed

[2020-12-07 19:20] timahenning commented on #206
Hi,

We have not heard any feedback from the field.  We will be happy to open the issue if needed.

[2020-12-07 19:20] #206 closed

[2020-12-17 22:59] DawnmarieDesJardins commented on #188
Closing issue as resolved with merge of PR #205

[2020-12-17 22:59] #188 closed

[2020-12-18 07:29] anushabc opened #210 "Issue in developer edition"
- Exercise 1, Task 5,  step 4 screenshot shows we are executing the commands from the content-web folder but there is no instruction that tells us to navigate to the content-web folder.

- Exercise 1, Task 7, Step 11 says Repeat Step 7 to push the images to ACR again so that the newly tagged v1 images are pushed. But when we run the command it is not pushing v1 instead it's pushing the latest.  Ho

[2020-12-23 16:19] snpdev opened #211 "Before the HOL Task 6 Issue"
Step 6 of [Task 3](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md#task-5-create-a-service-principal) asks to update the values for the keys below in the file `azuredeploy.parameters.json`. However, these keys are not present in the file.

- **KubernetesServicePrincipalClientId**: The Kubernetes Cluster S

[2020-12-23 16:43] snpdev opened #212 "Before the HOL Task 9 - Is Docker compose needed?"
Step 7 of [Task 9](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md#task-9-complete-the-build-agent-setup) asks to Install `docker-compose`.

While not a big deal, since Docker compose is not used in the HOL, perhaps this step should be removed.

[2020-12-23 16:48] DawnmarieDesJardins commented on #212
Side note:  Please review ReadMe page, Products and Services for accuracy.

[2020-12-28 05:21] akn9050 commented on #210
Hi @crpietschmann , @timahenning did you get chance to review these.

[2020-12-28 15:53] timahenning commented on #210
Hi @akn9050, We are looking into it today.

[2020-12-28 21:38] crpietschmann commented on #210
- Exercise 1, Task 5, step 4: Previously in the guide, it instructs to you to navigate between the different code directories, so at this point in the guide it assumes you know what/how to do it.
- Exercise 1, Task 7, Step 11: A fix for this has been committed.
- Exercise 1 Task 8, step 9: This can happen when copying and pasting from the HTML view some times. If you copy/paste from the Markdown,

[2020-12-29 21:04] crpietschmann commented on #211
These parameters were removed from the ARM Template, so they aren't set anymore. I have updated the Before HOL guide to no longer include instructions for these parameters that no longer exist in the ARM Template. Thanks!

[2020-12-29 21:08] crpietschmann commented on #212
Correct, the steps that used Docker Compose were removed in the previous update to the lab. I have committed an update that removes the docker-compose install from the Before HOL steps. Thanks!

[2020-12-29 22:35] DawnmarieDesJardins commented on #212
Closing issue as complete with latest commit.

[2020-12-29 22:35] #212 closed

[2020-12-29 22:36] DawnmarieDesJardins commented on #211
Closing issue as complete with latest commit.

[2020-12-29 22:36] #211 closed

[2020-12-30 05:00] akn9050 commented on #210
Hi @crpietschmann, it would help lab attendees and whoever do the lab if we can add a note for Exercise 4, Task 1: Like insufficient cpu error is expected. It is no where showed if this is expected or not, so most of the folks stuck here and don't proceed further with lab.

[2021-01-04 18:41] timahenning commented on #210
@akn9050 That is a good idea.  We will try add that this week.

Tim

[2021-01-04 23:37] DawnmarieDesJardins commented on #210
Closing issue as resolved.  All points address and additional notes added to docs with merge of PR #213 .

[2021-01-04 23:37] #210 closed

[2021-01-06 13:21] anushabc opened #214 "404 Issue in exercise 5 developer edition"
In Exercise 5, task 5,  step 9 encountered the error  404 Not Found nginx/1.19.1. However, I was able to perform with these commands

- helm repo add stable https://charts.helm.sh/stable

- helm repo update

- helm install nginx stable/nginx-ingress

But in task 6, step 9 when browsing from Traffic manager DNS it shows default backend - 404.

We have an active environment, can provide it if needed

[2021-01-07 16:56] snpdev opened #215 "Obsolete data load instructions"
Since data from MongoDB is loaded to Cosmos DB using DMS in Exercise 2, the following instructions are obsolete:

**Exercise 3 | Task 3 | Step 14**

**Exercise 3 | Task 4 | Step 25**

[2021-01-07 17:08] snpdev opened #216 "Suggestion: Remove content-init containerization"
With the recent DMS addition to the lab ([Exercise 2](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md#exercise-2-migrate-mongodb-to-cosmos-db-using-azure-database-migration-service)), the `content-init` container has no further utility.

Unless I am misunderstanding, there is no

[2021-01-12 16:21] sumitmalik51 commented on #214
Hello @timahenning,
did you get any chance to look on the above issue? we are having daily events for this workshops under AIW event.

[2021-01-12 16:48] timahenning commented on #214
Hi @sumitmalik51, I will try to have someone look at it today or tomorrow.

Tim

[2021-01-13 21:09] crpietschmann commented on #214
I committed a fix for the change in official Helm repo url. The Google hosted one was deprecated recently. This should fix the issue.

[2021-01-13 21:12] sumitmalik51 commented on #214
Thanks for the update @crpietschmann, Will test out and reopen the issue if needed. Thanks

[2021-01-13 21:16] DawnmarieDesJardins commented on #214
Closing issue as resolved.

[2021-01-14 21:52] snpdev opened #217 "content-web.yml indent issue"
The issue with the `content-web.yml` indentation raised by @anushabc in #210 is still a problem.  "Copy/paste from the Markdown" as suggested in https://github.com/microsoft/MCW-Cloud-native-applications/issues/210#issuecomment-751872402 is not a solution - the incorrect indentation in the HTML is a result of incorrect indentation in the markdown.

The following yml works for me:
[code]

[2021-01-15 13:32] anushabc commented on #214
Hi @crpietschmann, still facing the same issue in Exercise 5 can you please check on this.

![image](https://user-images.githubusercontent.com/66515706/104732945-f6dd2900-5763-11eb-8f79-e94e3a50a484.png)

[2021-01-15 15:54] rob-mckenna commented on #214
Also still facing the same issue at Exercise 5.  The fix implemented is in step 2 and states "Note: If you get a "no repositories found." error..." then execute.  So it appears not everyone would need this step.  I did not need to run the updated command based on this as I did not get the "no repositories found" error.

It's also not clear how the updated command will fix the 404 Not Found issue.

[2021-01-15 15:57] timahenning commented on #214
@rob-mckenna Hi Rob, I have reached out to Chris to speed up an answer.

[2021-01-20 17:06] fatihdurgut opened #218 "Kubernetes version is not supported in this region"
Before the HOL Instruction -> When you try to run ARM template you got following error.

afatihdurgut@Azure:~/MCW-Cloud-native-applications/Hands-on lab/arm$ az deployment group create --resource-group fabmedical-sol --template-file azuredeploy.json --parameters azuredeploy.parameters.json

{"error":{"code":"InvalidTemplateDeployment","message":"The template deployment 'azuredeploy' is not valid a

[2021-01-20 17:54] akn9050 commented on #214
Hi, any update on the issue.

[2021-01-20 20:03] crpietschmann commented on #215
Yes this is correct. I have submitted PR #219 that removes these instructions that are no longer accurate.

[2021-01-20 20:26] crpietschmann commented on #216
I submitted PR #220 that removes the steps to create the `content-init` GitHub Action as well as pushing the `content-init` container to ACR. You are correct that these are no longer necessary in the lab.

[2021-01-20 20:28] crpietschmann commented on #214
I am running through the lab steps to dig further into this 404 error you're seeing.

[2021-01-20 20:29] DawnmarieDesJardins commented on #215
Closing issue as resolved with merge of PR #219

[2021-01-20 20:29] #215 closed

[2021-01-20 21:06] DawnmarieDesJardins commented on #216
Closing issue as resolved with merge of PR #220

[2021-01-20 21:06] #216 closed

[2021-01-21 03:23] fatihdurgut opened #221 "Content-web app.js wrong instruction"
Exercise 1: Create and run a Docker application --> Task 1 --> Item 15

From the cloud shell in the build machine edit the app.js file using vim.
Then press i to get into the edit mode, after that replace localhost with the build machine IP address.
Edit the app.js file in vim in the build machine to update the API URL.

Exercise 1: Create and run a Docker application --> Task 5 --> Item 4
Observe

[2021-01-21 10:55] fatihdurgut opened #222 "Error in Migrate MongoDB to Cosmos DB"
Exercise 2: Migrate MongoDB to Cosmos DB using Azure Database Migration Service --> Task 3 --> Item 5 is not working due to network rules of the Build Agent VM. Wizard could not connect the mongodb.
To fix--> You need to give "Allow access to port 27017" on Networking tab of the build agent vm.

[2021-01-21 12:54] kareldewinter opened #223 "Missing docker image tag command"
In Exercise 1 -> Task 6: Push images to Azure Container Registry -> Step 10
Missing docker image tag command for content-init, only content-web and content-api are defined.

Solution:
docker image tag [LOGINSERVER]/content-web:latest [LOGINSERVER]/content-web:v1
docker image tag [LOGINSERVER]/content-api:latest [LOGINSERVER]/content-api:v1
docker image tag [LOGINSERVER]/content-init:latest [LOGINS

[2021-01-21 13:58] fatihdurgut opened #224 "Typo error"
In the infrastructure HOL

Task 6: Configure Continuous Delivery to the Kubernetes Cluster

Navigate to the .github/workflows folder of the git repository, and open the content-web.yml workflow using vi:

cd ~/MCW-Cloud-native-applications/Hands-on\ lab/lab-files/**_developer_**/.github/workflows
vi content-web.yml

The above command should be

cd ~/MCW-Cloud-native-applications/Hands-on\ lab/lab-

[2021-01-21 15:55] kareldewinter commented on #218
There will be another problem if you go for a higher Kubernetes version. The Kubernetes dashboard will not be available anymore. The problem will be in exercise 3 -> Task 2: "Deploy a service using the Kubernetes management dashboard".

Info:
The Kubernetes dashboard is enabled by default for clusters running a Kubernetes version **less than** 1.18.
The dashboard add-on will be **disabled** by def

[2021-01-21 16:42] crpietschmann commented on #218
I submitted PR #225 that addresses this for the short term. It updates the Kubernetes version to 1.17.16 which is the latest supported 1.17.x release by AKS. This will fix the deployment for now.

However, as you pointed out for v1.18 and higher, we will need to modify the MCW in the next update cycle to use a more recent point release and move away from the K8s Dashboard as well.

[2021-01-21 21:06] DawnmarieDesJardins commented on #218
Closing issue as resolved with merge of PR #225

[2021-01-21 21:06] #218 closed

[2021-01-22 16:59] snpdev commented on #223
@kareldewinter , please refer to #216.

[2021-01-25 06:36] beifeng2744 commented on #217
This issue still exist now.

[2021-01-25 15:59] akn9050 commented on #214
Hi @DawnmarieDesJardins , @crpietschmann any update on this, customers are reporting issues with this. Please provide any ETA to fix this. Also, is there any workaround for this issue?

[2021-01-25 16:46] crpietschmann commented on #214
I am actively working to figure out a fix for this.

[2021-01-26 03:09] saimachi commented on #224
Hello @fatihdurgut,

Thank you for highlighting this issue of referencing the incorrect GitHub Actions workflow configuration files. We have resolved it with #227.

[2021-01-26 03:09] #224 closed

[2021-01-26 09:43] beifeng2744 opened #228 "get error "The index path corresponding to the specified order-by item is excluded." when load sessions from cosmos db"
because sort method code in session API
Session.find(query).sort({
        startTime: 1
    }
and no sort method code in speaker api,

when run container in AKS and get data from cosmos db, will get error "The index path corresponding to the specified order-by item is excluded."

[2021-01-27 20:55] crpietschmann commented on #223
Correct, this was removed as the docker image tag command steps are no longer needed for content-init after the mongodb migration to cosmosdb steps were modified in a previous update.

[2021-01-27 20:59] crpietschmann commented on #221
If you follow the lab steps as written it does work. Ex 1, Task 4, Item 4, is using localhost because when content-web runs it will be able to access the content-api on port 3001 on localhost since they are both running on the same machine.

[2021-01-27 21:14] DawnmarieDesJardins commented on #217
Closing issue as resolved with merge of PR #226

[2021-01-27 21:14] #217 closed

[2021-01-27 21:20] crpietschmann commented on #214
@DawnmarieDesJardins @timahenning  I was able to figure out a configuration change that works to fix the 404 errors. It's included in PR #229. :)

[2021-01-27 21:27] DawnmarieDesJardins commented on #214
@sumitmalik51 @akn9050 - Please test with the latest PR merge and let me know if I can close as resolved.

[2021-01-29 05:53] saimachi commented on #222
Hi @fatihdurgut,

I was unable to reproduce the same error. Ensure that you are referencing your build agent VM private IP address within DMS, not its public IP. When you provisioned DMS in Exercise 2, Task 2, you provisioned it on your resource group's virtual network. This allows DMS to communicate with the VM using private IP addresses. In the _Networking_ tab of the VM, you can see that inboun

[2021-01-29 06:41] saimachi commented on #228
Hi @beifeng2744,

Could you provide us a little more information about the problem you are encountering, specifically the lab, exercise, and task at which it occurs? If you are referring to the _web_ and _api_ deployments performed in Tasks 2 and 3 of Exercise 3, we were unable to isolate the same problem. We could access the Speakers and Sessions collections without a problem.

[2021-01-29 07:59] akn9050 commented on #214
Thanks @Chris and @DawnmarieDesJardins, we will test and update accordingly

[2021-02-02 21:23] anushabc opened #231 "npm install applicationinsights --save takes more time"
Exercise 5 task 4 step 3, it's more than 60mins since I have run the command but it's still running with the warning message

![image](https://user-images.githubusercontent.com/66515706/106664201-bd614600-65ca-11eb-8ebc-d25ac19b3ec6.png)

[2021-02-02 21:45] anushabc commented on #214
HI @crpietschmann,  I am still getting this page in the Exercise5 Task 6 step 11. We have an active environment, can provide it if needed

![image](https://user-images.githubusercontent.com/66515706/106666274-64df7800-65cd-11eb-921d-81f9cbeb335a.png)

[2021-02-05 04:38] saimachi commented on #228
@beifeng2744 Could you provide us additional information to help you debug the problem? Otherwise we will close the issue due to inactivity.

[2021-02-05 04:40] saimachi commented on #222
@fatihdurgut Let us know if you continue to face problems enabling communication between MongoDB and DMS.

[2021-02-05 05:37] saimachi commented on #231
Hi @anushabc,

I am not encountering the same issue in my environment. From the recommendations I've read, try deleting the `package-lock.json` file. Then, try deleting the `node_modules` folder (`rm -rf node_modules/`). Then, try executing `npm install`. At this point, you should be able to install the Application Insights SDK without a problem.

[2021-02-05 16:32] #222 closed

[2021-02-05 16:40] timahenning commented on #228
@beifeng2744 We are closing this issue due to lack of activity.

[2021-02-05 16:43] timahenning commented on #221
We have not heard any feedback from the field.  We will be happy to open the issue if needed.

[2021-02-05 16:43] #221 closed

[2021-02-05 16:45] timahenning commented on #223
Closing the issue.  Solution provided.  We will be happy to reopen the issue if needed.

[2021-02-05 16:45] #223 closed

[2021-02-10 18:26] DawnmarieDesJardins commented on #214
@crpietschmann @timahenning
Hello,
Any movement on this one?  Spektra is still getting the error.

[2021-02-10 18:27] DawnmarieDesJardins commented on #231
@anushabc
Hello!  Did Sai's comment solve the issue for you?

[2021-02-13 03:03] arekam opened #233 "Missing Docker file in the Developer Edition content-api"
Missing Docker file in [conent-api]( https://github.com/microsoft/MCW-Cloud-native-applications/tree/master/Hands-on%20lab/lab-files/developer/content-api)
When executing Exercise 1, Task, Step 2:
`docker image build -t content-api .`
Error is thrown:
`unable to prepare context: unable to evaluate symlinks in Dockerfile path: lstat /home/adminfabmedical/Fabmedical/content-api/Dockerfile: no such f

[2021-02-13 03:09] #233 closed

[2021-02-15 06:08] anushabc commented on #231
Hi @DawnmarieDesJardins  we will test the lab once the 404 issue is fixed and provide you an update

[2021-02-17 12:03] mjisaak commented on #228
I also face the "**The index path corresponding to the specified order-by item is excluded**" problem in the "Cloud-native applications" Lab, Exercise 3, Task 3.14 and can reproduce it locally by setting the cosmosdb connection string in the config (content-api/config/config.js), start the application using `npm run start` and accessing the `/sessions` endpoint:

[code]
The reason is that the quer

[2021-02-17 15:26] timahenning commented on #228
@mjisaak thank you for the helpful response.

[2021-02-17 17:29] crpietschmann commented on #214
@DawnmarieDesJardins I never got access to their environment so I could help troubleshoot what they were seeing.
@timahenning

[2021-02-17 22:22] DawnmarieDesJardins commented on #214
@anushabc @akn9050
Hello!  Please provide @crpietschmann access to your environment to troubleshoot.  He's not able to reproduce your error when he goes through the lab.  Thank you!

[2021-02-19 18:08] sumitmalik51 commented on #231
hello @saimachi,, we have tested the lab today and this step took approx. 30 minutes to complete the npm installation.

[2021-02-19 21:32] saimachi commented on #231
Hi @sumitmalik51 and @anushabc,

I'll be taking a look at the lab with a fresh environment. I'll let you know if I encounter this error.

Could you provide me some information about the particular step that caused the package installation to take so long? A log from the package installation would be preferable.

[2021-02-19 21:37] sumitmalik51 commented on #231
Hello @saimachi,

The step is Exercise 5 task 4 step 3, Also I have shared one active environment URL to @DawnmarieDesJardins to troubleshoot this issue. Could you please let us know your email address so that I will add you in that thread, or you can reach out to me at sumit.kumar@spektrasystems.com.
Thanks

[2021-02-21 17:06] crpietschmann commented on #231
@sumitmalik51 In the environment, I see the 'web' app is broken due to an error with the applicationinsights package not being found. Did you get it to install correctly? I thought the "bug" was that it just took a long time?

[2021-02-21 17:12] sumitmalik51 commented on #231
Hi @crpietschmann, yes we installed the applicationinsights correctly that took around 30 minutes to complete. did you reinstall the application insights? Also if you have reinstalled applicationinsights, does that web app 404 #214  issue fixed?

[2021-02-28 23:05] timahenning commented on #228
Hi,

We could not reproduce the error in our environment.  If we see this error again, we will repoen.

Tim

[2021-02-28 23:05] #228 closed

[2021-03-05 19:52] crpietschmann commented on #214
@anushabc @akn9050 The environment you had provided me to troubleshoot had an app insights error in the code deployed, for which I didn't have access to the GitHub repo for, and was not to the point for the 404 error you are seeing to be exhibited. I replied to the email about this, but never got a response.

Is this still an issue?

[2021-03-05 19:52] crpietschmann commented on #214
FYI (above) @timahenning

[2021-03-05 19:54] crpietschmann commented on #231
if the NPM package takes "too long" to install, there's nothing I can do about that as it's an NPM issue in that case. Every time I've installed the Application Insights NPM package, it's only taken a minute to complete. This is not an issue we can do anything about.

[2021-03-05 21:07] DawnmarieDesJardins commented on #231
Closing issue.  Not able to reproduce delay in author's environment.

[2021-03-05 21:07] #231 closed

[2021-03-10 06:44] anushabc commented on #214
We tested the lab recently and we didn't face this issue anymore.

[2021-03-10 06:44] #214 closed

[2021-03-15 09:26] tomkerkhove opened #236 "Update HOL to use Kubernetes resource in Azure Portal"
Update HOL to use Kubernetes resource in Azure Portal instead of Kubernetes Dashboard which will no longer be added to AKS clusters (v1.19 and above, see https://github.com/azure-deprecation/dashboard/issues/121)

https://docs.microsoft.com/en-us/azure/aks/kubernetes-portal

[2021-03-15 13:19] timahenning commented on #236
Hi @tomkerkhove,

Thank you for the issue submission.  We are currently working on a small lab update as speak.  Unfortunately, the current lab was written to work with v1.17 and upgrading the lab to work with 1.19 is not planned at the moment.  The lab is being deprecated by 6/1/21.  Please refer to Microsoft Learn for AKS lab content.

Tim

[2021-03-15 13:19] #236 closed

[2021-03-15 13:26] tomkerkhove commented on #236
So Microsoft Learn for AKS lab content is the way forward if I understand it correctly?

[2021-03-15 13:51] timahenning commented on #236
At moment, you are correct.

[2021-03-16 21:02] snpdev commented on #196
Today, I received an email from Microsoft saying:

According to https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard:

I am running a workshop on April 22nd. Do I need to be concerned?

[2021-03-16 21:55] DawnmarieDesJardins opened #237 "Kubernetes Dashboard deprecation"
@snpdev @timahenning @crpietschmann

Hello!
This comment was added to closed issue #196 today.  I'm creating a new issue so it's on the open issues page and can be addressed.

![image](https://user-images.githubusercontent.com/39317565/111384859-3a221e00-8667-11eb-840d-141bdf3a08fc.png)

[2021-03-16 21:57] snpdev commented on #237
Just noticed a related closed issue #236

[2021-03-25 11:49] andrehe001 opened #239 "CORS Issues with Website when accessing speakers and sessions"
When clicking on the sessions or speakers button, following error blocks the listing of them.
_Access to fetch at 'https://roaming.officeapps.live.com/rs/v1/settings/1065?rs=en-US' from origin 'http://20.61.117.61' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opa

[2021-03-25 17:14] zekink commented on #222
I also ran into an issue trying to run the migration to Cosmos DB - I should have checked the GitHub issues to see if this solution would have helped me. Here's a screenshot of what made me unable to progress for reference.
![Screenshot 2021-03-25 at 17 49 25](https://user-images.githubusercontent.com/13997056/112514692-3d6f8500-8d9e-11eb-807d-ad0caf365bc2.png)

[2021-03-25 17:23] zekink opened #240 "Error in Migrating from MongoDB to CosmosDB"
I was unable to progress past this point and finish the Workshop, as I ran into this error when trying to initiate the migration. I'm unsure if this was due to the migration tool not being allowed to access the MongoDB port on the build VM or something else. I wonder if me removing and recreating the database migration service perhaps deleted something necessary under the hood, as my first attempt

[2021-03-29 15:42] DawnmarieDesJardins commented on #237
Closing issue as resolved with merge of PR #241

[2021-03-29 15:42] #237 closed

[2021-03-29 16:53] #239 closed

[2021-03-29 16:53] #240 closed

[2021-03-30 15:26] snpdev opened #244 "Remove remaining reference to Kubernetes dashboard"
Task 6, step 5 of the [Developer lab](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md) reads:

The sentence "You can compare the names with those in the Kubernetes dashboard." should be removed or updated to reflect the transition from the K8s dashboard to the use of the kubectl

[2021-03-31 09:15] anushabc opened #245 "Issue in Exercise 5 Task 5"
- In exercise 5 task 5 step 19 gives an error message

error parsing content.ingress.yml: error converting YAML to JSON: yaml: line 14: did not find expected '-' indicator

-  Exercise 5 task 6 still not able to access the Contoso application from the traffic manager.

Contoso application  is accessible from ingress endpoint

![image](https://user-images.githubusercontent.com/66515706/113120777-90

[2021-04-04 19:57] saimachi commented on #245
Hi @anushabc,

I've started a review of the lab for Chris' changes. I'll study the issue.

[2021-04-05 06:00] anushabc commented on #245
Thank you @saimachi, can you also please have a look at exercise4 task 1,   after increasing the replica count to 2 all the pods were showing as healthy but if I increase the replica count to 3 I was able to see one pod in pending state.
![image](https://user-images.githubusercontent.com/66515706/113542469-fa18e000-9601-11eb-9280-41f2e4d804e7.png)

[2021-04-05 15:21] saimachi commented on #245
Hi @anushabc,

I cannot confirm what you are describing for Exercise 4, Task 1. Only 1 out of the requested 2 pods provisioned in my environment. The barriers preventing the api deployment from scaling are the CPU constraints and the port constraints, which are remedied in Exercise 4, Task 2. Can you ensure that your api deployment has been configured correctly, as described in Exercise 3, Task 2,

[2021-04-05 18:02] timahenning commented on #245
Please reference one issue at a time in a GitHub issue.

Thanks

[2021-04-06 16:18] #244 closed

[2021-04-06 16:18] #245 closed

[2021-04-16 14:03] crpietschmann opened #247 "May 2021 Update"
These are the items to work on for the May 2021 Update:

- [x] Remove "Exercise 1: Create and run a Docker application"
   - Some of these tasks are necessary for the lab to work, so we'll need to simplify them as much as possible, and probably more them to the "Before the HOL". The point of this change is to not have a focus on running Docker locally anymore, and to have the images in ACR ready t

[2021-04-16 17:26] snpdev commented on #231
I have experienced the same problem on two different occasions with the lab VM provisioned by Spektra Systems. My work around is to perform [Exercise 5 | Task 3 | Steps 1-6](https://github.com/microsoft/MCW-Cloud-native-applications/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications%20-%20Developer%20edition.md#task-3-perform-a-rolling-update) in a local Bash terminal

[2021-04-16 18:14] DawnmarieDesJardins commented on #247
@crpietschmann @timahenning
Please review comment on closed issue #231
Not sure if it will apply to changes you're making now or not.

[2021-04-16 19:20] crpietschmann commented on #247
@DawnmarieDesJardins @timahenning Installing from NPM take as long as it takes. I've never been able to duplicate the issue of installation taking too long. There's nothing we can change in the lab that would make this faster some how.

[2021-04-16 19:22] DawnmarieDesJardins commented on #247
@crpietschmann
Thanks for checking.  The comment was made on a closed issue so I wanted to make sure you saw it.

[2021-04-28 14:29] nmeisenzahl commented on #231
We are facing the same issues. Looks like it might be related to insufficient disk space in the Cloud Shell.
![image](https://user-images.githubusercontent.com/28020936/116420993-c2870780-a83e-11eb-88ae-2873f5c41476.png)

[2021-05-25 19:51] #247 closed

[2021-06-06 02:07] teo-ma opened #262 "AKS no longer support Kubernates 1.19.7,so it fails when deplying using arm template of lab 'Before the HOL'"
Hello,

Since AKS no longer support Kubernates version 1.19.7,it fails when deplying using arm template of lab 'Before the HOL'.May I suggest replace the  Kubernates 1.19.7 with 1.19.9.I tested on Azure West US Region and it worked,thanks.

Regards,

Teo

[2021-06-07 22:44] DawnmarieDesJardins commented on #262
Closing as resolved with merge of PR #263

[2021-06-07 22:44] #262 closed

[2021-07-06 16:24] DawnmarieDesJardins opened #264 "GitHub security advisory"
High severity security advisory.  Please review and advise:

socket.io-parser
 Open	GitHub opened this alert 5 days ago
 Dependabot cannot update socket.io-parser to a non-vulnerable version
The latest possible version that can be installed is 3.2.0 because of the following conflicting dependencies:

karma@4.1.0 requires socket.io-parser@~3.2.0 via socket.io@2.1.1
karma@4.1.0 requires socket.io-pa

[2021-07-06 18:51] timahenning commented on #264
This is a lab and security issues will not be fixed until MCW updates.  The focus is in the learning content.  This is not a production ready solution.

[2021-07-06 18:51] #264 closed

[2021-07-06 19:53] DawnmarieDesJardins commented on #264
Removed label, didn't realize issue was closed.

[2021-07-22 12:25] larrywa opened #265 "Before the HOL - Need step updated"
Task 6, step 13, the code is:
git push -u origin main

When you create a new repository in Git, by default the branch name is master. So we had to run this code before the line of code above:

git branch -m master main

[2021-07-31 00:08] DawnmarieDesJardins commented on #265
Closing issue as resolved with merge of PR #266

[2021-07-31 00:08] #265 closed

[2021-08-07 19:35] larrywa opened #268 "Cannot see speakers and sessions data"
I've gone through the steps twice. Everything seems to work ok except that when I go to the Contoso site, and click on Sessions or Speakers link, I see no data. The data is in CosmosDB. There are not errors.

Any ideas what to look at? Even though I've gone through it twice there must be some small detail I'm missing.

Thanks!

[2021-08-11 12:50] hatboyzero commented on #268
Can you provide any relevant log output from your browser debug console when browsing to the Sessions and/or Speakers link?

[2021-08-11 14:20] Shivashant25 opened #270 "Issue in Exercise 2"
In Task 2> step 22,  After creating API deployment. It is failing with an error.

Task 2 Error:
![image](https://user-images.githubusercontent.com/81952290/129044677-58114688-fc7f-4efc-9537-c71a9d01f2a7.png)

![image](https://user-images.githubusercontent.com/81952290/129045629-57c8a250-331c-4d94-aae1-a60ba00a7db9.png)

I continued with the next task. In Task 3> step 11, The web page is not loadin

[2021-08-11 15:14] hatboyzero commented on #270
Could you please verify the docker image name and tag that the pod is attempting to pull from the pod details?  Can you also check the ACR to verify said named and tagged docker image exists in the ACR?

[2021-08-16 18:32] timahenning commented on #268
Hi @larrywa, can you provide the log output?

[2021-08-16 18:35] larrywa commented on #268
Sorry for the delay.

I ended up having to tear the whole environment down due to costs. Most of the students I had did not seem to have the same issue so I'll assume it is some step I missed.

Most of the issues we had were will people getting lost in all the steps going back and forth to Github and then local repositories etc. It all worked but they couldn't take a break in the middle of the pro

[2021-08-16 18:50] timahenning commented on #268
Thanks Larry.

[2021-08-16 18:50] #268 closed

[2021-08-16 21:29] DawnmarieDesJardins commented on #270
@Shivashant25
Hello!  Checking in to see if you were able to proceed after following the suggestions above.  May we close this issue as resolved?  Thank you.

[2021-08-17 04:57] Shivashant25 commented on #270
The issue has been resolved. This issue can be closed. Thank you

[2021-08-17 04:57] #270 closed

[2021-09-20 14:50] existdevops opened #272 "Exercise 4 Task 3"
With reference to this task: https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications.md#task-3-perform-a-rolling-update

Step 7-9 does not work. The github workflow flow only builds and pushes container images, but does not deploy the new container image to the kubernetes cluster: https://github.com/existdevops/Fabmed

[2021-09-22 08:09] Karthikkc123 opened #273 "Issue in Exercise-4 Task-3"
[Exercise-4 Task-3 Step 6 & 7](https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications.md#task-3-perform-a-rolling-update)

When user commit such changes and push to git repo, then GitHub action for content-web should start but it's not getting started.

In the same section, the result should be auto update of applica

[2021-09-24 02:36] #272 closed

[2021-09-24 02:37] DawnmarieDesJardins commented on #273
Closing issue as resolved with merge of PR #274

[2021-09-24 02:37] #273 closed

[2021-09-27 07:11] sumitmalik51 opened #275 "Content-web Build failed in before hands-on-lab"
Before Hands-on lab: Task 15: While running the content-web Github Action, the workflow got failed with the below issue.

![image](https://user-images.githubusercontent.com/45102602/134860980-8c7793ea-44c8-45d8-a169-27a2b3c5032f.png)

[2021-09-28 15:37] #275 closed

[2021-09-29 13:47] Shivashant25 opened #277 "Issue in Before the HOL - Cloud-native applications file"
In Task - 15> Step - 12, Instructions are showing up as part of the code mentioned in the previous step. Please fix this minor issue.

![image](https://user-images.githubusercontent.com/81952290/135280820-5854bb2f-1d57-4f9f-93d7-24704feb3675.png)

[2021-09-30 20:06] #277 closed

[2021-10-04 10:42] Shivashant25 opened #279 "Issue in Before hands-on lab"
In Task - 15: Setup CI Pipeline to Push Images, The content-web workflow is failing with the error mentioned in the screenshot below. Please look into this.

![image](https://user-images.githubusercontent.com/81952290/135836858-93d0c8af-3d6c-4629-b9b9-67f97c2c3942.png)

[2021-10-04 17:12] timahenning opened #280 "October 2021 Suggestions"

[2021-10-04 22:59] timahenning commented on #280
- Use Bicep instead of ARM templates for AKS cluster deployment.
- Use PowerShell on local machine and AZ CLI, eliminating a large portion of the Before HOL.
- Add section using Visual Studio Code with the Kubernetes extension from Microsoft.
- Update the images and text based on Azure changes

[2021-10-05 10:41] Shivashant25 commented on #279
Hi @hatboyzero, Hope you are doing well.

Recently our team had received feedback on this lab. All of them were talking about adding an introduction or few lines about what exactly we are doing in this particular lab which would enhance the understanding of the AKS. Even I feel the same, It's like we are running the commands without knowing what exactly is happening.

I hope that changes will enha

[2021-10-05 18:22] timahenning opened #282 "Adding an introduction or few lines about what exactly we are doing in this particular lab"
Hi @hatboyzero, Hope you are doing well.

Recently our team had received feedback on this lab. All of them were talking about adding an introduction or few lines about what exactly we are doing in this particular lab which would enhance the understanding of the AKS. Even I feel the same, It's like we are running the commands without knowing what exactly is happening.

I hope that changes will enha

[2021-10-05 18:23] timahenning commented on #279
Hi @Shivashant25,

These are good suggestions.  We will be reviewing these suggestions in our upcoming update.

Tim

[2021-10-05 18:23] #279 closed

[2021-10-07 14:43] Shivashant25 opened #284 "Issue in Exercise 4"
In Exercise 4> Task 3> step 6. web-content workflow got failed. The `api.deployment.yml` file is present at the `root` as I had created in exercise 2 but the `web-content.yml` file is in `clouddrive/fabmedical` directory. I created the same files in `clouddrive/fabmedical` directory and tried running the workflow. But it failed. Please suggest a solution.

![image](https://user-images.githubuserco

[2021-10-19 14:02] Shivashant25 commented on #284
Hi @hatboyzero,

I followed the lab guide and tried deploying the `content-web.yml file`. It got failed with the same error which I had mentioned before.

![image](https://user-images.githubusercontent.com/81952290/137922828-968cf108-47b4-42ef-81fc-9ae33330bf1a.png)

I tried pushing `api.deployment.yml, web.deployment.yml, and web.service.yml` to the Github repository. But the command didn't work.

[2021-11-02 14:47] sumitmalik51 commented on #284
Hi @hatboyzero @DawnmarieDesJardins , we are still facing this same issue even we have the api.deployment.yml and web.deployment.yml files present in the root of our GitHub dir. https://github.com/Shivashant25/Fabmedical but still getting the same output while running the workflow.

Also, there has a lot of places where things are not mentioned like in which location we need to create the file, th

[2021-11-03 15:24] DawnmarieDesJardins commented on #284
Reopening issue for further investigation

[2021-11-04 13:16] sadukie commented on #284
@sumitmalik51 Heads up that I'm looking into this now to see what's going on.  I hope to get you better guidance on where files should be so that you're in a good spot to get through this successfully.

[2021-11-04 17:34] sumitmalik51 commented on #284
Hey @sadukie, Thanks for the information,
Yes, this is the place where we were having issues.

[2021-11-04 18:18] sadukie commented on #284
@sumitmalik51 Part of the problem will be the image path. as there's an issue with Step 6's text.  I can put in a fix for that.  This is what the problem looks like:

![image](https://user-images.githubusercontent.com/106202/140395460-0bcfa1c6-dbef-4e57-9872-b1f69d7f6b3e.png)

The Step 6 code should be:

[code]

[2021-11-04 18:26] sadukie commented on #284
@sumitmalik51 I also noticed that [your content-web.yml file](https://github.com/Shivashant25/Fabmedical/blob/main/.github/workflows/content-web.yml) did not have the pipe character (`|`) as shown in the Step 6 code.  Is there a reason why the pipes were left off?

[2021-11-04 23:36] #284 closed

[2021-11-23 17:26] Shivashant25 opened #288 "Issue in Exercise 4"
1. In Exercise 4> Task 3> step 10, After the workflow got executed successfully I was not able to see the new `web` replica set getting deployed or successfully deployed.

2. In Exercise 4> Task 3> step 6, ingress-demo namespace is created when the workflow gets executed. But in Exercise 4> Task 4> step 3,  we are creating the same namespace again using `kubectl create namespace ingress-demo` comm

[2021-11-29 06:14] sumitmalik51 commented on #288
Hi  @DawnmarieDesJardins, Can we please have someone to look into this?

[2021-12-02 04:38] hatboyzero commented on #288
For item #1, see below for my explanation of item #2.

For item #2, Exercise 4 > Task 3 > Step 6 does not create a namespace.  Per the description of the “azure/k8s-deploy@1” task in the README.md here, specifying the namespace on this task indicates which namespace this task should deploy to within the AKS cluster, not that this task should create a new namespace.  Attempting to deploy to a non-e

[2021-12-02 16:46] #288 closed

[2021-12-14 14:19] fatihdurgut opened #291 "Before the HOL - Task 10: Test the Starter Application - Step13"
Web application could not build.
Node -v = v4.2.6

Error:
npm ERR! Linux 4.15.0-1113-azure
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! code EMISSINGARG

npm ERR! typeerror Error: Missing required argument #1
npm ERR! typeerror     at andLogAndFinish (/usr/share/npm/lib/fetch-package-metadata.js:31:3)
npm ERR! typeerror     at fetchPac

[2021-12-15 16:39] DawnmarieDesJardins commented on #291
@faithdurgut - Hi Faith!  Thank you for bringing this to our attention.  I've assigned the author to take a look and double-check me, but we are nearly finished with a content update to this workshop that may fix the problem you're having.  It is on track to be published this week.  Can you wait for the new content?

[2021-12-15 20:17] zagruby opened #292 "Before the HOL - Task 15: Setup CI Pipeline to Push Images - Step11"
content-web.yml fails with the following line 63:
`        kubectl create namespace ingress-demo --dry-run -o json | kubectl apply -f -`

With the following error:
`Run kubectl create namespace ingress-demo --dry-run -o json | kubectl apply -f -
error: --dry-run flag without a value was specified. A value must be set: "none", "server", or "client".
error: no objects passed to apply
Error: Process

[2021-12-15 20:25] DawnmarieDesJardins commented on #292
@zagruby - Hello!  Thank you for bringing this to our attention. I've assigned the author to take a look and double-check me, but we are nearly finished with an update to this workshop that condenses the Before the Hands-on Lab document a great deal. It is on track to be published this week. Please check back for the new content.

[2021-12-16 06:20] fatihdurgut commented on #291
Hello,  Sure I can wait. Thanks for the update.    Sent from Mail for Windows From: Dawnmarie DesJardinsSent: Wednesday, December 15, 2021 7:40 PMTo: microsoft/MCW-Cloud-native-applicationsCc: Fatih; AuthorSubject: Re: [microsoft/MCW-Cloud-native-applications] Before the HOL - Task 10: Test the Starter Application - Step13 (Issue ***@***.*** - Hi Faith! Thank you for bringing this to our attention

[2021-12-16 15:32] fatihdurgut opened #293 "Task 2: Deploy a service using the Azure Portal"
Create a namespace in Kubernetes where we will deploy our resources.

kubectl create namespace ingress-demo

will give following error

fatih@Azure:~$ kubectl create namespace ingress-demo
Error from server (AlreadyExists): namespaces "ingress-demo" already exists

[2021-12-16 15:34] hatboyzero commented on #293
There is an update to this workshop that is currently under review that will address this and other existing issues.

[2021-12-17 00:34] DawnmarieDesJardins commented on #280
Closing issue with merge of PR #290

[2021-12-17 00:34] #280 closed

[2021-12-17 00:35] DawnmarieDesJardins commented on #282
Closing issue with merge of PR #290

[2021-12-17 00:35] #282 closed

[2021-12-17 00:35] DawnmarieDesJardins commented on #291
Closing this issue with the merge of PR #290. Please see the updated content.

[2021-12-17 00:35] #291 closed

[2021-12-17 00:36] DawnmarieDesJardins commented on #292
Closing this issue with the merge of PR #290. Please see the updated content.

[2021-12-17 00:36] #292 closed

[2021-12-17 00:36] DawnmarieDesJardins commented on #293
Closing this issue with the merge of PR #290. Please see the updated content.

[2021-12-17 00:36] #293 closed

[2021-12-22 07:24] Kalyani7744 opened #294 "Issue in Exercise 2"
In [Exercise 2, Task 2](https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications.md#task-3-deploy-a-service-using-kubectl), After creating the API and Web deployments in Kubernetes Service, The status of the deployment is showing the error message as shown in below screenshots.

![image](https://user-images.githubuserc

[2021-12-22 20:28] Shivashant25 opened #295 "Issue in Exercise 2 Task 2"
In Exercise - 2> Task - 2> step - 10, I didn't face the expected error mentioned in the screenshot instead faced other errors after creating `api` deployment.

Expected error output:

![image](https://user-images.githubusercontent.com/81952290/147147755-beb90bfd-f3ce-42ef-a054-40d324e0f7ff.png)

Actual error:

![image](https://user-images.githubusercontent.com/81952290/147147708-508b2190-e65b-46f4

[2021-12-27 10:03] Kalyani7744 commented on #294
Closing the issue as it's a temporary issue.

[2021-12-27 10:03] #294 closed

[2021-12-28 19:17] saimachi commented on #295
Hi @Shivashant25,

Thank you for bringing this issue to our attention. I am addressing these concerns on [my fork.](https://github.com/saimachi/MCW-Cloud-native-applications.git)

[2021-12-28 20:10] #295 closed

[2021-12-30 20:06] Shivashant25 opened #297 "Issue in Exercise 4"
In Exercise 4> Task 3> Step 11>, The content-web workflow is failing with an error `Error: Cluster context not set. Use k8s-set-context/aks-set-context action to set cluster context`. Please look into this.

![image](https://user-images.githubusercontent.com/81952290/147784659-ff125606-74da-4b88-9cc3-10f64727b3ff.png)

[2022-01-03 20:05] saimachi commented on #297
Hi @Shivashant25,

Thank you for bringing this issue to our attention. The `aks-set-context` action was placed below the `k8s-create-secret` action, causing the issue that you saw. I have resolved this in the lab documents and the `content-web.yml` workflow file.

[2022-01-03 20:35] #297 closed

[2022-01-20 15:52] abymsft opened #299 "Task 3 : Unable to see "contentdb" in "Source" DB"
Hi Team,

In Task 3, while configuring the "Database setting" step, I am unable to see the "contentdb" @ source (VM agent). Check screenshot below.
Any ideas of how I can troubleshoot this?
![image](https://user-images.githubusercontent.com/50873759/150373342-19da3326-167f-461b-be93-d762eb267a97.png)

[2022-01-26 05:55] saimachi commented on #299
Hi @abymsft,

I was unable to replicate this issue: the `contentdb` source database and its two collections were visible in the DMS wizard.

Please ensure that you executed the `create_and_seed_database.sh` bash script, as mentioned at the end of the Pre-HOL document, and that the following output was observed:

![image](https://user-images.githubusercontent.com/37318129/151110787-25ed6c65-7f05-45

[2022-01-28 21:16] DawnmarieDesJardins commented on #299
@abymsft - Hello!  Were you able to move forward with the advice above?

[2022-02-03 17:25] DawnmarieDesJardins commented on #299
No further questions received - closing issue.  Please reopen if necessary.

[2022-02-03 21:39] Shivashant25 opened #300 "Issu in Exercise 1 Task 3"
In [Exercise 1, task 3](https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/HOL%20step-by-step%20-%20Cloud-native%20applications.md#task-3-migrate-data-to-azure-cosmos-db) after migrating database to Cosmos DB, the data inside sessions is empty as shown in the below screenshot.

![image](https://user-images.githubusercontent.com/81952290/152432710-80fb3514-f228-4477

[2022-02-04 13:16] sumitmalik51 commented on #300
Hi @DawnmarieDesJardins ,

Please treat this issue as a high priority as we are having this workshop every day.

Thanks

[2022-02-04 13:43] cjpark-sapcsa commented on #299
![DB item is missing](https://user-images.githubusercontent.com/60184856/152538563-4ae7ef8c-1a1c-4739-8de3-cac24b402936.JPG)
@abymsft  Hi Abishek, i wonder how did you solve the issue? For me, i can't see DB name in the select cosmo DBname.

[2022-02-04 16:32] DawnmarieDesJardins commented on #299
Reopening issue for further investigation.

[2022-02-05 21:44] saimachi commented on #299
Hi @cjpark-sapcsa,

If Azure is unable to load the Cosmos DB instance automatically, try to paste the connection string manually from the Cosmos DB instance into the DMS window. Based on the image you posted, the issue you encountered is with DMS, rather than the lab instructions.

[2022-02-05 21:54] saimachi commented on #300
Hi @Shivashant25,

Based on the image you posted, it looks like you executed the performance testing script (`perftest.sh`), even though this script is supposed to be executed in Exercise 3, Task 5. The local MongoDB initialization script (executed on the VM) populates the correct documents in the local instance.

For your second point, you should see the Sessions page populated with the "Perf Tes

[2022-02-06 06:23] cjpark-sapcsa commented on #299
Hi @saimachi  thanks for your tip. In the step of Exercise 1, Tasks3, before i reach this step, i don't see the labs guide whether we need to create a cosmos DB account.
![after creation of dbaccount](https://user-images.githubusercontent.com/60184856/152669976-7322d546-f469-4e26-875f-7ce5f9b7e4aa.JPG)

after i create cosomo db account manually, the soureDB and connection strings are all appeared.

[2022-02-06 16:34] Shivashant25 commented on #300
Hi @saimachi,

I had executed 'perftest.sh' in Exercise 3 task 5 and I understood your point. Thanks for the clarity.

In Exercise 4 Task 4 step 9, I got the Contoso webpage as output instead of getting a 404 error and in Exercise 4 Task 4 step 21, we got the same Contoso web page as output instead of the data. please look into it.

[2022-02-06 16:37] saimachi commented on #299
Hi @cjpark-sapcsa,

The creation of all lab resources, including the Cosmos DB account, occurred in the ARM template deployment step in Task 4 of the Before the HOL document.

[2022-02-06 20:09] Shivashant25 commented on #300
Hi @saimachi,

I had executed 'perftest.sh' in Exercise 3 task 5 and I understood your point. I re-tested the lab. I didn't face any issues. We are good with the lab, Thanks for the clarity.

Closing this issue as it is resolved.
Thank you.

[2022-02-06 20:36] #300 closed

[2022-02-09 19:24] DawnmarieDesJardins commented on #299
@cjpark-sapcsa
Hi CJ.  A quick check-in with you.  Were you able to move forward with the author's information above?

[2022-02-10 02:11] cjpark-sapcsa commented on #299
@DawnmarieDesJardins   Yes.. good to go close the case

[2022-02-10 17:36] #299 closed

[2022-02-15 17:13] Shivashant25 opened #303 "Issue in Exercise 2"
In Exercise - 2> Task - 2> step - 22, The api deployment is not getting into state and it's stuck at `waiting`  state with **ERROR: CrashLoopBackOff**. please look into this issue as soon as possible as we have labs scheduled.

![image](https://user-images.githubusercontent.com/81952290/154113076-20eccebb-f32f-467f-ac5a-a445d7de2154.png)

![image](https://user-images.githubusercontent.com/81952290

[2022-02-16 20:21] EstebanZ opened #304 "Issue in Hands on lab (Before the HOL): Task 4, step 3"
Before the end step 3, using bash on Azure Cloud Shell, the script [create_azure_resources.sh ](https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/lab-files/developer/scripts/create_azure_resources.sh) request username and password github but after that enter credentials the terminal show this message:

![image](https://user-images.githubusercontent.com/9389266/154

[2022-02-17 16:36] hatboyzero commented on #303
Can you provide more detail from the `api` container?  Possibly some logs from the container so that we can determine the root cause of the `CrashLoopBackOff` state?

[2022-02-17 16:48] hatboyzero commented on #304
The Github CLI (gh) should be setting up the credential store for git operations, per lines 90-92 of create_azure_resources.sh

[code]

An issue with the Git credential store not being configured correctly has been reported [here](https://github.com/cli/cli/issues/4351).  As such, could you verify the following output when executing `git config -l | grep credential` is along the lines of:

[code]

[2022-02-17 17:01] Shivashant25 commented on #303
Hi @hatboyzero

We tried troubleshooting from our end and we found that node version: `node:alpine AS base` in `https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/lab-files/developer/content-api/Dockerfile` is not supporting. Were you able to reproduce this issue?

[2022-02-17 20:11] EstebanZ opened #305 "Issue in Hands on lab (Before the HOL): Task 4, step 3 (AKS Version not available)"
The ARM template tries to deploy a AKS version not available in any region (1.21.2).
https://github.com/microsoft/MCW-Cloud-native-applications/blob/f3dd219e8e5576605a4e3e79a4cdd6ea3830172d/Hands-on%20lab/arm/azuredeploy.json#L105

Today when I run Task 4 step 3:

`bash create_azure_resources.sh`

Output:
![image](https://user-images.githubusercontent.com/9389266/154562596-4e31a835-12d8-4123-be2f-

[2022-02-17 20:17] EstebanZ commented on #304
Hi @hatboyzero , #305  does not allow me to verify what you instructions today 😞

[2022-02-18 13:55] EstebanZ opened #307 "Issue in Hands on lab (Before the HOL): Task 4, step 1 (missing scope in docs)"
The following link assign repo scope to the PAT:

https://github.com/microsoft/MCW-Cloud-native-applications/blob/f3dd219e8e5576605a4e3e79a4cdd6ea3830172d/Hands-on%20lab/Before%20the%20HOL%20-%20Cloud-native%20applications.md?plain=1#L150

But to run create_azure_resources.sh the scopes required are:
-Workflow
-read:org

![image](https://user-images.githubusercontent.com/9389266/154695752-568084e9

[2022-02-21 17:48] EstebanZ commented on #304
I changed k8s version (1.21.9) on [azuredeploy.json](https://github.com/microsoft/MCW-Cloud-native-applications/blob/main/Hands-on%20lab/lab-files/developer/scripts/azuredeploy.json) file locally to tries you suggestion.

When i run 'git config -l | grep credential' the output is empty; so i run 'git config --global credential.helper store' after that the output is:

`credential.helper=store`

But

[2022-02-21 20:09] EstebanZ commented on #303
Hi guys, I have same problem, as @Shivashant25  mentioned the version node alpine is latest (current: v17.5.0, is not LTS).

I attacht api pod logs:

21/2/2022, 16:51:34 > node ./server.js
21/2/2022, 16:51:34 21/2/2022, 16:51:35 /usr/src/app/node_modules/mongoose/lib/cursor/QueryCursor.js:150
21/2/2022, 16:51:35 QueryCursor.prototype.map = function(fn) {
21/2/2022, 16:51:35 ^
21/2/2022, 16:51:35 2

[2022-02-22 17:40] aarsan commented on #305
I changed it to 1.21.9 and it worked.

[2022-02-22 18:58] EstebanZ commented on #305
Yeah! @aarsan , this is a workaround, but I need integrate it on main branch before labs assistants get same issues.

[2022-02-24 02:20] hatboyzero commented on #304
Can you provide the value, if any, of the MCW_GITHUB_URL environment variable of the environment in which you are executing this?

[2022-02-24 02:26] hatboyzero commented on #307
Should be resolved by #308

[2022-02-24 02:27] hatboyzero commented on #305
Should be resolved by #308

[2022-02-24 02:27] hatboyzero commented on #303
Should be resolved by #308

[2022-02-24 02:32] hatboyzero commented on #304
Should be resolved in #308

[2022-02-24 16:17] #303 closed

[2022-02-24 16:19] DawnmarieDesJardins commented on #304
Closing issue with merge of PR #308

[2022-02-24 16:19] DawnmarieDesJardins commented on #305
Closing issue with merge of PR #308

[2022-02-24 16:20] DawnmarieDesJardins commented on #307
Closing issue with merge of PR #308

[2022-02-24 16:20] #307 closed

[2022-02-24 17:39] EstebanZ commented on #305
Hi, this change is not in main branch:

https://github.com/microsoft/MCW-Cloud-native-applications/blob/99b5385d603950b20b6c0cb99a26cebd0f39d7de/Hands-on%20lab/lab-files/developer/scripts/azuredeploy.json#L105

[2022-02-24 17:42] DawnmarieDesJardins commented on #305
Reopened issue
@hatboyzero - Please advise.

[2022-02-25 15:35] hatboyzero commented on #305
I see the necessary change in the main branch here

https://github.com/microsoft/MCW-Cloud-native-applications/blob/99b5385d603950b20b6c0cb99a26cebd0f39d7de/Hands-on%20lab/arm/azuredeploy.json#L105

[2022-02-25 20:03] DawnmarieDesJardins commented on #305
@EstebanZ - Hi Esteban!  I see the updated .json as well.  Is it possible you ran the old version from a previous try?  Let me know if I can close this issue.

[2022-02-25 20:13] EstebanZ commented on #305
Hi @DawnmarieDesJardins , now i see the updated .json. Thanks

[2022-02-25 20:16] DawnmarieDesJardins commented on #305
Yay!  Thanks @EstebanZ - closing the issue.

[2022-02-25 20:16] #305 closed

[2022-02-25 21:34] EstebanZ opened #309 "Issue in Hands on lab (Before the HOL): Task 4, step 3 (git config user.email/name)"
Hi, when the subscription is new, in Cloud shell Git does not have name and mail configured, so when I run `bash create_azure_resources.sh` I get the following error:

![image](https://user-images.githubusercontent.com/9389266/155804838-dd13e6a5-0eeb-4931-a2c6-2552fb79a5b4.png)

Workaround: run before, (maybe this steps should be added in 'Before the HOL')

[code]

[2022-02-25 21:36] DawnmarieDesJardins commented on #309
@EstebanZ - What Exercise and task are you working on?

[2022-02-26 18:47] aarsan commented on #305
Still getting:

    Version 1.21.2 is not supported in this region

it looks like the template in the ARM directory is what was changed but the one in the:

    /Hands-On-Lab/lab-files/developer/scripts

needs to be changed.

[2022-02-27 20:06] EstebanZ commented on #305
I was same problem from browser (github web)

Tme later from the browser the problem was solved (maybe it was cache.. I do not believe it but it is a possibility)

You can see the same commit but different value for key 😕
![image](https://user-images.githubusercontent.com/9389266/155897851-2757ebb4-435d-4360-90c1-a56f6317a914.png)

In Cloud Shell I was try git pull force, remove storage Account re

[2022-02-27 20:52] hatboyzero commented on #309
This should be resolved in #311

[2022-02-27 21:34] EstebanZ commented on #305
The path is not the same, create_azure_resources.sh use:

azuredeploy.json from /Hands-on lab/lab-files/developer/scripts/

sorry my bad 😄

[2022-02-27 22:39] hatboyzero commented on #305
#311 includes the additional change necessary to update this version in the correct file, so this should be resolved when that gets accepted and merged.

[2022-02-28 19:26] #309 closed

[2022-03-02 19:44] EstebanZ commented on #304
hi, the PR #308 does not solve this issue. The create_azure_resources.sh script still requires Github credentials.

![image](https://user-images.githubusercontent.com/9389266/156437167-6a0b06d5-8a6d-4062-8ec3-3422c3401565.png)

As a workaround:
- when the script finishes (I enter correct or incorrect credentials, it makes no difference):

cd ~/Fabmedical
git push https://<GITHUB_ACCESS_TOKEN>@gith

[2022-03-04 21:56] adamkimsft opened #313 "AuthorizationFailed error during aks-set-context in rolling update task (ex 4 task 3)"
This error occurs when doing the rolling update:

Run Azure/aks-set-context@v1
  with:
    creds: ***
    cluster-name: fabmedical-ak4
    resource-group: Fabmedical-ak4
  env:
    imageRepository: content-api
    resourceGroupName: Fabmedical-ak4
    clusterName: fabmedical-ak4
    containerRegistryName: ***
    containerRegistry: ***.azurecr.io
    dockerfilePath: ./content-api
    tag: 19360459

[2022-03-04 22:02] DawnmarieDesJardins commented on #313
@adamkimsft - Hi Adam.  The error information you received didn't come through.  Please repost it for us.  Thanks!

[2022-03-04 22:04] adamkimsft commented on #313
Yes, I accidentally hit the post button.  Adding the rest of the info now.

From: Dawnmarie DesJardins ***@***.***>
Sent: Friday, March 4, 2022 14:03
To: microsoft/MCW-Cloud-native-applications ***@***.***>
Cc: Adam Kim ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/MCW-Cloud-native-applications] AuthorizationFailed error during aks-set-context in rolling update task (ex 4 task 3) (Iss

[2022-03-04 22:10] adamkimsft commented on #313
Please see updated first post.

[2022-03-11 15:31] hatboyzero commented on #313
Recent changes to how az-cli creates service principals for RBAC do require us to change our call to

[code]

For now, that should be a sufficient workaround - I will get changes around this into a pull request later today.

[2022-03-11 22:39] DawnmarieDesJardins commented on #304
Reopening this issue so I can track further investigation.
@hatboyzero - any additional advice?

[2022-03-15 02:33] teo-ma opened #315 "I found a wrong step description on Step 6 of Excerse 4 Task 4"
Hi,
I do love these labs as it can help more people experience AKS.

I found a wrong step description on Step 6 of Excerse 4 Task 4 when doing this.I figure it out with boldface

Paste the following as the contents. Be sure to replace the following placeholders in the script:

[INGRESS PUBLIC IP]: Replace this with the IP Address copied from **step 5.** ----------<Should Be step 4>
[AKS NODEPOOL R

[2022-03-15 03:26] teo-ma opened #316 "Github Actions Issue on Step 10 of Exercise 4 Task3"
Hi ,

I met a Github Actions issue when building and pushing Docker Image via [content-web.yml](https://github.com/teo-ma/Fabmedical/blob/main/.github/workflows/content-web.yml) and [content-api.yml](https://github.com/teo-ma/Fabmedical/blob/main/.github/workflows/content-api.yml)

The error like **"You have an error in your yaml syntax on line 29"**
<img width="867" alt="iShot2022-03-15 11 20 06"

[2022-03-16 12:20] hatboyzero commented on #304
On line 27 of the create_azure_resources.sh script, I changed to correct the URL used to access and update the repository in pull request #308. Unless the end-user sets the MCW_GITHUB_URL environment variable before running the script, it should (and does, through my testing) construct the correct URL. TL;DR I cannot reproduce the behavior. As far as I can tell in my environment, it is working cor

[2022-03-16 12:53] hatboyzero commented on #316
You have indented the last step in the job one too many spaces.  Verified the fix for your content-web.yaml in YAMLlint was nothing more than removing one space from the indentation of all the lines in the very last step of your defined workflow.

[2022-03-16 14:44] DawnmarieDesJardins commented on #315
Closing issue with merge of PR #317

[2022-03-16 14:44] #315 closed

[2022-03-21 20:36] timahenning commented on #304
Hi @EstebanZ ,

We cannot reproduce the issue on our side if we use #308. Please try this solution and let us know if does not work.

[2022-03-21 20:36] #304 closed

[2022-03-23 15:25] timahenning commented on #316
Hi @teo-ma,

We are closing this issue.  Let us know if the provided solution does not work and we can reopen the issue for you.

[2022-03-23 15:25] #316 closed

[2022-04-19 09:27] Shivashant25 opened #319 "Issue in Exercise 4"
In Exercise 4 > Task 3 > step 6, **api** path has been used for web deployment. Is this expected? Please provide more information on this.

![image](https://user-images.githubusercontent.com/81952290/163973599-2b3a2235-5286-416e-967d-bfe434e0af26.png)

[2022-04-19 18:32] sadukie commented on #319
@Shivashant25 Heads up that I have a pull request submitted to fix this typo. It is a typo in the Hands-on lab text. I also confirmed that file is correct in `Hands-on lab\lab-files\developer\.github\workflows\content-web.yml`.

[2022-04-19 18:48] DawnmarieDesJardins commented on #319
Closing issue with merge of PR #320

[2022-04-19 18:48] #319 closed

[2022-05-07 01:21] adamkimsft opened #323 "Incorrect working directories in Ex 4 Task 3"
Step 2 should cd to ~/Fabmedical/ (not ~/Fabmedical/content-web).  Otherwise, the kubectl get commands doesn't overwrite our original yml files which is in the Fabmedical directory.
Step 3 needs to cd to ~/Fabmedical/content-web due to the fix in previous step.

Also in Step 2, file extension should be yml, not yaml.

[2022-05-09 20:28] timahenning commented on #313
Re-opening for further investigation.

[2022-05-10 03:06] teo-ma opened #325 "issue: Exercise 1 Step 15: can not show detailed documents on Data Explore"
Hello,

I found Exercise 1 Step 15: can not show detailed documents on Data Explore on HOL step-by-step - Cloud-native applications.md. It threw the below exceptions.It worked fine on previous lab steps. Any suggestion?

Error reading document: , Payload: {"db":"contentdb","coll":"sessions","resourceUrl":"https://fabmedical-ma7.mongo.cosmos.azure.com:443/dbs/contentdb/colls/sessions/54b321f979cfa6

[2022-05-10 15:32] DawnmarieDesJardins commented on #323
Closing issue with merge of PR #326

[2022-05-16 18:16] hatboyzero commented on #325
@teo-ma Could you verify that this is still happening?  I cannot reproduce this in my environment.

[2022-05-16 18:16] hatboyzero commented on #313
The PR associated with #324 should resolve this if it is still occurring.

[2022-05-16 19:25] DawnmarieDesJardins commented on #313
@adamkimsft - Hi Adam!  I've merged Matt's PR, please test and let us know if you're still finding this issue.

[2022-05-16 21:24] adamkimsft commented on #323
You forgot this correction mentioned when I opened it:

Also in Step 2, file extension should be yml, not yaml.

[2022-05-16 21:40] adamkimsft commented on #313
Yes, this fixed it!  Thanks.

[2022-05-16 21:40] #313 closed

[2022-05-16 23:21] DawnmarieDesJardins commented on #323
Reopened issue to address comments above.

[2022-05-17 15:44] DawnmarieDesJardins commented on #323
PR merged, thanks Adam.

[2022-05-17 15:44] #323 closed

[2022-05-23 15:29] timahenning commented on #325
Hi @teo-ma,

Can you confirm the problem is still occurring?  If the problem is still occurring, what region are your resources located in?  We will be closing the issue in a couple of days.

[2022-05-25 19:11] DawnmarieDesJardins commented on #325
@teo-ma
Hi Teo.  I'm going to close this issue since we cannot reproduce it.  When you get a chance to go through the lab again, if you get the same error, please let us know with updated screenshots and we'll reopen and review.  Thanks!

[2022-05-25 19:11] #325 closed

[2022-06-13 11:42] shivashant25 opened #331 "Issue in Before Hands-on lab"
In Before Hands-on lab> Task 6> step 1, The **content-api** docker image build is failing with errors mentioned below. Please check on this as we have upcoming workshops.

Step 8/13 : RUN npm install
 ---> Running in 44f843cde1b1

**ERRORS:**:

npm WARN engine saslprep@1.0.3: wanted: {"node":">=6"} (current: {"node":"4.9.1","npm":"2.15.11"})
npm ERR! Linux 4.15.0-1113-azure
npm ERR! argv "/usr/loc

[2022-06-13 15:21] shivashant25 commented on #331
@DawnmarieDesJardins / @timahenning, Can you please check on this issue as we have multiple lab schedules on 14/06/2022

[2022-06-13 16:06] DawnmarieDesJardins commented on #331
@shivashant25
We will do our best, but less than 24 hours' notice is not an acceptable amount of time for a review/fix.  Please make sure you are testing well ahead of any presentations.

[2022-06-13 16:59] hatboyzero commented on #331
This looks to be related to recent updates to NPM packages.  I have a fix - testing the Docker build for the associated change (update to node:18.3-alpine docker base image) before creating a PR.  Should be a few moments.

[2022-06-13 17:01] hatboyzero commented on #331
PR is up for review.

[2022-06-13 17:06] DawnmarieDesJardins commented on #331
@shivashant25
A fix PR has been merged.  Please test and confirm ASAP.

[2022-06-13 17:19] sumitmalik51 commented on #331
Thanks @hatboyzero @DawnmarieDesJardins , for the quick fix, we are trying right now and will update in sometime. Thanks

[2022-06-13 19:13] DawnmarieDesJardins commented on #331
Thanks Shivashant - @hatboyzero is a rockstar! Closing this issue as resolved.

[2022-06-13 19:13] #331 closed